<root>
	<styles>
		<include src="file://{resources}/styles/main.scss" />
		<include src="file://{resources}/styles/pages/tabs/settings.scss" />
	</styles>

	<scripts>
		<include src="file://{scripts}/pages/tabs/settings.ts" />
	</scripts>

	<Panel class="root pre-trans" useglobalcontext="false">
		<Panel id="sidebar">
			<Panel class="sidebar-body">
				<Label class="sidebar-header" text="Settings" />
				<!-- <TextEntry
							id="search"
							maxchars="30"
							placeholder="#Settings_General_Search_Prompt" /> -->

						<!-- The below elements are populated by javascript.
							See file://scripts/pages/tabs/settings.ts for details. -->

				<Panel id="categories">
				</Panel>

			</Panel>
		</Panel>

		<Panel id="body">
		</Panel>
	</Panel>
</root>
