<root>
	<styles>
		<include src="file://{resources}/styles/main.scss" />
		<include src="file://{resources}/styles/pages/settings.scss" />
	</styles>

	<scripts>
		<include src="file://{scripts}/pages/settings.js" />
	</scripts>

	<Panel class="body fill" useglobalcontext="false">
		<Panel class="sidebar">
			<!-- <TextEntry
				id="SettingsSearch"
				maxchars="30"
				placeholder="#Settings_General_Search_Prompt"
			/> -->

			<!-- The below elements are populated by javascript.
				See file://scripts/pages/settings.ts for details. -->

			<Panel id="SettingsButtons">
			</Panel>

		</Panel>

		<Panel id="SettingsPages">
		</Panel>
	</Panel>
</root>
