@use '../../config' as *;

$vertical-pad: 96px;
$horizontal-pad: 64px;
$sidebar-width: 30%; // fit-children;

$scroll-height: 12px;
$card-spacing: 24px;
$card-height: 680px;
$card-width: 400px;
$info-height: 90px;
$info-height-big: 170px;

Panel.root {
	width: 100%;
	height: 100%;
	flow-children: right;

	> Panel {
		height: 100%;
	}

	transition: pre-transform-scale2d 0.15s $easeOutQuint 0.0s,
				opacity 0.1s linear 0.0s;

	&.pre-trans {
		pre-transform-scale2d: 1.05;
		opacity: 0.0;
	}
}


// ================ SIDEBAR ================

Panel.sidebar {
	width: $sidebar-width;
	padding-left: $horizontal-pad;
	padding-top: $vertical-pad;
	padding-right: $horizontal-pad;

	> Panel {
		height: 100%;
		flow-children: down;
		horizontal-align: center;
	}

	Label {
		line-height: 60;
		font-size: $font-size-h4;
		color: $dark-500;
	}

	TextButton:hover > Label {
		text-decoration: underline;
	}
}

#UserIcon {
	background-color: $dark-500;
	width: 240px;
	height: 240px;

	Image {
		width: 100%;
		height: 100%;
	}
}

#UserName {
	font-weight: bold;
}

// ================ BODY ================

Panel.body {
	width: fill-parent-flow(1.0);
	height: 100%;
	padding: 0 0 $vertical-pad $horizontal-pad;

	overflow: clip scroll;
	flow-children: down;
}

Panel.category {
	$scrollbar-padding: $card-spacing + $scroll-height - 6px;
	height: $card-height + $vertical-pad + $scrollbar-padding;
	width: 100%;
	overflow: clip noclip;
	z-index: 10;
	flow-children: down;

	> Panel.title {
		height: $vertical-pad;
		Label {
			z-index: 20;
			align: left bottom;
			margin-bottom: 10px;

			font-size: $font-size-h1;
			font-weight: bold;
			color: $dark-200;
		}
	}

	> Panel.content {
		width: 100%;
		flow-children: right;
		overflow: scroll clip;
		padding-top: $scrollbar-padding;

		HorizontalScrollBar {
			height: $scroll-height;
			width: 100%;
			opacity: 0.5;
			background-color: $light-600;

			transition: opacity 0.05s linear 0.0s;

			&:hover {
				opacity: 0.8;
			}

			.ScrollThumb {
				height: 100%;
				min-width: 32px;
				background-color: $light-800;
			}
		}
	}
}

Panel.card {
	height: $card-height;
	width: $card-width;
	margin-right: $card-spacing;
	overflow: clip clip;

	// Post-transition style. Can't use animations since they're broken.
	transition: pre-transform-scale2d 0.35s $easeOutQuint 0.0s,
	            opacity 0.2s linear 0.0s;

	&.pre-trans {
		pre-transform-scale2d: 0.9;
		opacity: 0;
	}

	> Image {
		background-color: $light-600;
		transition: position 0.18s $easeOutQuart 0.05s;
		y: 0.0;
		width: 100%;
		height: $card-height - $info-height;
	}

	> Panel {
		padding: 12px;
		width: 100%;
		height: $info-height-big;

		transition: position 0.25s $easeOutQuart 0.0s;
		y: $card-height - $info-height;

		flow-children: down;

		background-color: $light-100;
		color: $dark-500;
	}

	Label.title {
		font-size: $font-size-h4;
		font-weight: bold;
	}

	Label.author {
		font-size: $font-size-h6;
		margin-bottom: 4px;
	}

	Label.description {
		transition: opacity 0.2s linear 0.0s;
		opacity: 0.0;

		font-size: $font-size-h6;
		line-height: 26;

		color: $dark-200;
	}
}

Panel.card:hover {
	> Image {
		y: ($info-height - $info-height-big) / 3;
	}

	> Panel {
		y: $card-height - $info-height-big;
	}

	Label.description {
		transition: opacity 0.1s linear 0.0s;
		opacity: 1.0;
	}
}
