body{}
::-webkit-scrollbar {
    width: 12px;
	height: 12px;
}
 
/* Track below and above */
::-webkit-scrollbar-track {
    background-color: #0d131a;
}
::-webkit-scrollbar-track:hover {
    background-color: #14202c;
}
 
/* The thumb itself */
::-webkit-scrollbar-thumb {
	border-radius: 3px;
    background-color: #133B51;
}
::-webkit-scrollbar-thumb:hover {
	border-radius: 3px;
    background-color: #3281ac;
}
