@use 'sass:color';

@use '../../config' as *;
@use '../../abstract/mixin';
@use '../../controls/button';

.add-mount {
	width: 1088px;
	flow-children: right;
	padding: 15px;
	border-bottom: $menu-pane-border;

	$this: &;

	&__cover {
		width: 230px;
		height: 108px;

		border: $menu-pane-border;
		margin-right: 25px;
	}

	&__title {
		@include mixin.font-styles($use-header: true);
		font-size: 28px;
	}

	&__subtag {
		color: $base-200;
		font-size: 16px;
		font-weight: light;
	}

	&__warning {
		font-size: 16px;
		font-weight: bold;
		padding: 5px 10px;
	}

	&__unavailable {
		background-color: gradient(
			radial,
			50% 50%,
			0% 0%,
			70% 70%,
			from(color.scale(#ee7a7a, $lightness: -60%)),
			to(color.scale(#ee7a7a, $lightness: -85%))
		);
		border-color: #ee7a7a;
		#{$this}__cover {
			border-color: #ee7a7a;
		}
	}

	&:hover {
		background-color: $button-background-hover;
		border-color: $primary-color;
		#{$this}__cover {
			border-color: $primary-color;
		}
	}

	&__list {
		padding-right: 15px;
		max-height: 80%;
		flow-children: down;
		overflow: squish scroll;
	}
}
