@use '../config' as *;
@use '../abstract/function';
@use 'sass:color';

$colors: function.map-collect(
	$colors-primary,
	$colors-state,
	$color-grays,
	$color-light-bgs,
	$color-dark-bgs,
	$colors-p2ce-primary,
	$colors-p2ce-base
);

@each $name, $color in $colors {
	.color-#{$name} {
		color: $color;
	}
	.wash-color-#{$name} {
		wash-color: $color;
	}
	.bg-#{$name} {
		background-color: $color;
	}

	.border-#{$name} {
		border: 1px solid $color;
	}

	.fancy-#{$name} {
		background-color: gradient(
			radial,
			50% 50%,
			0% 0%,
			70% 70%,
			from($color),
			to(color.scale($color, $lightness: -50%))
		);
		border: 1px solid $color;
		@if color.channel(color.to-space($color, hsl), 'lightness') > 50% {
			& Label {
				color: $base-950;
			}
			& Image {
				wash-color: $base-950;
			}
		}
	}
}
