@use '../config' as *;
@use '../abstract/mixin';

a {
	color: blue;

	&:hover {
		text-decoration: underline;
	}
}

b, strong {
	font-weight: bold;
}

i, em {
	font-style: italics;
}

u {
	text-decoration: underline;
}

s {
	text-decoration: line-through;
}

pre {
	font-family: $font-monospace;
}

@each $name, $size in $html-font-header-sizes {
	#{$name} {
		font-size: $size;
		font-weight: bold;
	}
}
