@use '../../config' as *;
@use '../../abstract/function';
@use '../../abstract/mixin';

.campaigns {
	width: 100%;
	height: 100%;
	flow-children: right;

	opacity: 1;
	blur: gaussian(0, 0, 0);
	transform: translateX(0px);
	transition:
		opacity 0.25s ease-in-out 0s,
		blur 0.25s ease-in-out 0s,
		transform 0.25s ease-in-out 0s;

	&__hide {
		opacity: 0;
		blur: gaussian(10, 10, 3);
		transform: translateX(20px);
	}

	&__left {
		vertical-align: center;
		width: 960px;
		flow-children: down;
	}

	&__right {
		width: fill-parent-flow(1);
		height: 100%;
	}

	&__list {
		width: 100%;
		overflow: squish scroll;
		flow-children: down;
	}

	&__action-bar {
		width: 100%;
		flow-children: right;

		//padding-right: 15px;
		margin-bottom: 10px;

		&__textentry {
			text-overflow: clip;
			white-space: nowrap;
			color: $bright-color;
			height: fit-children;
			border: $menu-pane-border;
			background-color: $base-950;

			#PlaceholderText {
				color: rgba($bright-color, 0.25);
			}

			&:focus {
				background-color: $base-950;
				color: $bright-color;
			}

			&:hover {
				background-color: $base-950;
				color: $bright-color;
			}

			&:parentdisabled {
				opacity: 0.5;
			}
		}
	}

	&__entry {
		width: 100%;
		height: 224px;

		background-color: $base-950;
		border: $menu-pane-border;

		$this: &;

		&__spaced {
			margin-bottom: 10px;
		}

		&:hover {
			border-color: $primary-color;

			#{$this}__inner {
				background-color: $button-background-hover;
			}

			#{$this}__cover {
				border-color: $primary-color;
			}

			#{$this}__details {
				&__title,
				&__author,
				&__desc {
					text-shadow: none;
				}
			}
		}

		&:selected {
			background-color: $primary-800;
		}

		&__inner {
			width: fill-parent-flow(1);
			height: 100%;
			flow-children: right;
			padding: 15px;
			background-color: gradient(linear, 0% 0%, 95% 0%, from(rgba(0, 0, 0, 0)), to($base-950));
		}

		&__bg-image {
			width: 100%;
			opacity: 0.2;
		}

		&__cover {
			width: 356px;
			height: 200px;
			border: $menu-pane-border;
		}

		&__details {
			flow-children: down;

			margin-left: 23px;
			vertical-align: middle;

			&__logo {
				height: 48px;
				width: 48px;
				vertical-align: bottom;
				margin: 10px;
			}

			&__status {
				height: 48px;
				width: 48px;
				padding: 5px;
				border: $menu-pane-border;
				border-radius: 5px;
				background-color: $base-950;
				vertical-align: bottom;
				horizontal-align: right;
				margin: 10px;
				visibility: collapse;
			}

			&__title {
				@include mixin.font-styles($use-header: true);
				font-size: 20px;
				text-shadow: 2px 2px 4px 2 $base-950;
			}

			&__author {
				font-size: 12px;
				letter-spacing: 1px;
				text-shadow: 1px 1px 4px 2 $base-950;
			}

			&__desc {
				margin-top: 5px;
				font-size: 15px;
				color: $base-200;
				text-shadow: 1px 1px 8px 2 $base-950;
			}
		}
	}

	&__boxart {
		// this is a nasty workaround to borders disappearing while the panel is
		// animated by specific properties, such as opacity. the animation here
		// is handled by a container panel while the actual style is a child of this
		// panel. yes, the layout is horribly nested but w/e this works for the time being.
		&__container {
			height: 900px;
			width: 470px;
			horizontal-align: center;
			vertical-align: center;

			opacity: 0;
			transform: translateX(0px);

			&__anim {
				transition:
					opacity 0.2s ease-in-out 0s,
					transform 0.3s ease-in-out 0s;
			}

			&__show {
				opacity: 1;
				transform: translateX(-20px);
			}
		}

		// ditto for __bg__switch (i hate myself)
		&__border {
			width: 100%;
			border: $menu-pane-border;
			background-color: $base-950;
		}

		&__bg {
			width: 100%;
			flow-children: down;

			&__switch {
				animation-name: FadeIn;
				animation-duration: 0.2s;
				animation-timing-function: ease-out;
				animation-iteration-count: 1;
			}
		}

		&__top {
			width: 100%;
			height: fill-parent-flow(1);
			border-bottom: $menu-pane-border;
		}

		&__image {
			width: 100%;
			height: width-percentage(1);
		}

		&__detail {
			&__text {
				vertical-align: center;
				letter-spacing: 1px;
				font-weight: bold;
				font-size: 20px;
				transform: translateY(-3px);
				max-height: 25px;
			}
		}

		&__bottom {
			margin: 15px;
			width: 100%;
			flow-children: down;
		}

		&__status {
			height: 48px;
			width: 48px;
			padding: 5px;
			border: $menu-pane-border;
			border-radius: 5px;
			background-color: $base-950;
			margin: 10px;
			visibility: collapse;
		}

		&__text {
			letter-spacing: 1px;
			font-size: 16px;
			color: $base-200;
			max-height: 22px;

			&__small {
				letter-spacing: 1px;
				font-size: 14px;
				color: $base-300;
			}
		}

		&__spacer {
			margin-bottom: 10px;
		}
	}
}

.selected-campaign {
	width: 100%;
	height: 100%;

	margin: -30px;

	opacity: 0;
	blur: gaussian(10, 10, 3);

	$root: &;

	&__anim {
		transition:
			opacity 0.2s ease-in-out 0s,
			blur 0.2s ease-in-out 0s;

		#{$root}__background {
			transition: transform 0.25s ease-in-out 0s;
		}

		#{$root}__container {
			transition: transform 0.2s ease-in-out 0s;
		}
	}

	&__show {
		opacity: 1;
		blur: gaussian(0, 0, 0);

		#{$root}__background {
			transform: scaleX(1) scaleY(1);
		}

		#{$root}__container {
			transform: translateX(0px);
		}
	}

	&__container {
		width: 100%;
		height: 100%;
		margin: 60px;

		transform: translateX(-25px);
	}

	&__controls {
		width: 30%;
		height: 100%;
		margin: 20px;

		flow-children: down;

		&__inner {
			width: 100%;
			vertical-align: bottom;
			flow-children: down;

			background-color: $base-950;
			border: $menu-pane-border;
		}

		&__button {
			width: 100%;
			flow-children: right;

			padding: 18px 20px;
			tooltip-position: right;
			tooltip-body-position: 50% 50%;

			$this: &;

			&__lined {
				border-bottom: 1px solid $base-900;
			}

			&__text {
				@include mixin.font-styles($use-header: true);
				color: $bright-color;
				vertical-align: middle;
				font-size: 20px;
			}

			&:disabled,
			&:parentdisabled {
				background-color: rgba($base-950, 0.5);
				border-color: rgba($base-700, 0.1);

				#{$this}__text {
					color: rgba($button-text-disabled, 0.5);
				}
			}

			&:hover:not(:disabled):not(:parentdisabled) {
				background-color: $button-background-hover;
			}
		}
	}

	&__sticky {
		width: 100%;
		max-width: 960px;
	}

	&__lister {
		width: 100%;
		max-width: 960px;
		height: fill-parent-flow(1);
		flow-children: down;
		overflow: squish scroll;
		background-color: gradient( linear, 0% 0%, 100% 0%, from( $base-950 ), to( rgba(0, 0, 0, 0) ) );

		&__header {
			min-width: 272px;
			text-align: center;
			padding: 18px 20px;

			// account for funny line-height business
			padding-top: 13px;
			transform: translateY(1px);

			border: $menu-pane-border;
			border-bottom-width: 0px;
			background-color: $base-950;

			@include mixin.font-styles($use-header: true);
			font-size: 24px;
		}

		&__body {
			width: 100%;
			height: 100%;
			flow-children: down;
			border: $menu-pane-border;
			background-color: $base-950;
		}

		&__container {
			width: 48%;
			height: 70%;
			margin: 20px;
			flow-children: down;
			vertical-align: bottom;
		}

		&__button {
			@extend .selected-campaign__controls__button;

			width: fill-parent-flow(1);

			border-top: $menu-pane-border;

			&__text {
				@extend .selected-campaign__controls__button__text;
			}
		}
	}

	&__action-bar {
		width: 100%;
		max-width: 960px;
		flow-children: right;
	}

	&__background {
		width: 100%;
		height: 100%;
		transform: scaleX(1.05) scaleY(1.05);
	}

	&__logo {
		width: 100%;
		height: 130px;
	}

	&__title {
		@include mixin.font-styles($use-header: true);
		font-size: 32px;
	}

	&__authors {
		font-weight: light;
		font-size: 16px;
		color: $base-200;
		letter-spacing: 1px;
	}

	&__description {
		width: 100%;
		height: 100%;

		margin-top: 15px;
		border: $menu-pane-border;

		&__text {
			overflow: squish scroll;
			padding: 15px;
		}
	}
}

.saves {
	&__container {
		width: 100%;
		tooltip-body-position: 50% 50%;
	}

	&__entry {
		width: 100%;

		$this: &;

		&__lined {
			border-bottom: $menu-pane-border;
		}

		&__inner {
			@extend .campaigns__entry__inner;

			height: fit-children;
			background-color: none;
			background-image: none;
		}

		&__cover {
			width: 240px;
			height: 135px;
			vertical-align: center;

			border: $menu-pane-border;

			&__short {
				height: 64px;
			}
		}

		&__details {
			@extend .campaigns__entry__details;
			&__title {
				@include mixin.font-styles($use-header: true);
				font-size: 26px;
			}

			&__desc {
				margin-top: 5px;
				font-size: 18px;
				color: $base-200;
			}
		}

		&:disabled {
			#{$this}__cover,
			#{$this}__details {
				opacity: 0.5;
				wash-color: $button-text-disabled;
			}
		}

		&:hover:not(:disabled):not(:selected) {
			background-color: gradient( linear, 100% 0%, 0% 0%, from( $button-background-hover ), to( rgba(0, 0, 0, 0) ) );
		}

		&:selected {
			background-color: $button-background-hover;
			#{$this}__details {
				wash-color: $base-950;
			}
		}

		&__delete {
			margin-right: 30px;
			width: 48px;
			height: 48px;
			horizontal-align: right;
			vertical-align: center;
		}
	}
}

.chapters {
	&__entry {
		@extend .saves__entry;
		width: 100%;

		& .RadioBox {
			visibility: collapse;
		}

		&__lined {
			@extend .saves__entry__lined;
		}

		&__inner {
			@extend .saves__entry__inner;
		}

		&__cover {
			@extend .saves__entry__cover;
		}

		&__details {
			@extend .saves__entry__details;
			&__title {
				font-size: 20px;
				color: $base-200;
				letter-spacing: 1px;
			}

			&__desc {
				@include mixin.font-styles($use-header: true);
				margin-top: 5px;
				font-size: 28px;
			}
		}

		&:hover:not(:disabled):not(:selected) {
			@extend .saves__entry, :hover;
		}

		&:selected {
			@extend .saves__entry, :selected;
		}
	}
}

.campaign-settings {
	width: 100%;
	height: fill-parent-flow(1);

	background-color: $base-950;
	border: $menu-pane-border;
	flow-children: right;
	padding: 15px;

	&__header {
		width: 100%;
		flow-children: right;
		background-color: $base-950;
		border: $menu-pane-border;
		border-bottom-width: 0;
		padding: 10px 15px;

		&__top {
			@include mixin.font-styles($use-header: true, $light-header: false);
			font-size: 24px;
		}

		&__btm {
			color: $base-300;
			font-size: 16px;
		}

		&__logo {
			horizontal-align: right;
			width: 150px;
			height: 100%;
		}
	}

	&__container {
		width: 100%;
		height: 100%;
		flow-children: down;
	}

	&__left {
		width: fill-parent-flow(1);
		height: 100%;
		flow-children: down;
	}

	&__button {
		width: fill-parent-flow(0.3);
		height: fill-parent-flow(1);
		border: $menu-pane-border;

		&__icon {
			width: 96px;
			height: 96px;
			horizontal-align: center;
			margin-bottom: 10px;
		}

		&__text {
			@include mixin.font-styles($use-header: true, $light-header: false);
			horizontal-align: center;
		}

		&__subtext {
			color: $base-300;
			font-size: 16px;
		}

		&:hover {
			border-color: $primary-color;
			background-color: $button-background-hover;
		}
	}

	&__help {
		width: fill-parent-flow(0.5);
		height: 100%;
		flow-children: down;
		background-color: $base-900;
		border: $menu-pane-border;
		margin-right: 10px;
		padding: 15px;
	}

	&__right {
		height: 100%;
		flow-children: down;
		margin-left: 10px;
	}

	&__chapter-overlay {
		width: 100%;
		height: 100%;
		margin: 1px;
		background-color: gradient(linear, 0% 0%, 0% 100%, from(rgba(0, 0, 0, 0)), to($base-950));
	}

	&__box-logo {
		width: 48px;
		height: 48px;
		margin-right: 10px;
		vertical-align: center;
	}

	&__chapter-text {
		@include mixin.font-styles($use-header: true, $light-header: false);
		width: 100%;
		font-size: 24px;
		text-shadow: 2px 2px 4px 2 $base-950;
		transform: translateY(-2px);
	}

	&__map-text {
		color: $base-200;
		width: 100%;
		text-shadow: 2px 2px 2px 2 $base-950;
		transform: translateY(-2px);
	}

	&__chapter-img {
		width: 480px;
		height: 270px;
		border: $menu-pane-border;
	}

	&__summary {
		width: 100%;
		height: fill-parent-flow(1);
		background-color: $base-900;
		border: $menu-pane-border;
		border-top-width: 0;
		flow-children: down;
		padding: 10px;

		&__header {
			@include mixin.font-styles($use-header: true, $light-header: false);
			font-size: 20px;
		}

		&__inner {
			width: 100%;
			height: 100%;
			flow-children: down;
			overflow: squish scroll;
		}

		&__text {
			color: $base-200;
			font-size: 16px;
			margin-left: 15px;
		}
	}

	&__start {
		height: fit-children;
		padding: 15px 20px;
		tooltip-position: left;
		tooltip-body-position: 50% 50%;

		&__icon {
			width: 48px;
			height: 48px;
			margin-right: 10px;
		}

		&__text {
			@include mixin.font-styles($use-header: true, $light-header: false);
			font-size: 24px;
			transform: translateY(-2px);
		}
	}

	&__subpage {
		width: 100%;
		height: 100%;
		flow-children: down;
	}
}
