@use '../../config' as *;
@use '../../abstract/function';
@use '../../abstract/mixin';

// .ChapterModeClassic .ChapterModeList .ChapterModeGrid .ChapterModeSuper .ChapterModeSquareGrid

.ChapterModeClassic #ChaptersBack,
.ChapterModeList #ChaptersBack,
.ChapterModeSuper #ChaptersBack {
	margin-right: 15px;
	vertical-align: center;
}

.ChapterModeClassic #ChaptersNext,
.ChapterModeList #ChaptersNext,
.ChapterModeSuper #ChaptersNext {
	margin-left: 15px;
	vertical-align: center;
}

.ChapterModeSquareGrid #ChaptersBack,
.ChapterModeSquareGrid #ChaptersNext,
.ChapterModeGrid #ChaptersBack,
.ChapterModeGrid #ChaptersNext {
	visibility: collapse;
}

.ChapterModeSquareGridOnly,
.ChapterModeGridOnly,
.ChapterModeClassicOnly,
.ChapterModeListOnly,
.ChapterModeSuperOnly {
	visibility: collapse;
}

.ChapterModeSquareGrid .ChapterModeSquareGridOnly,
.ChapterModeGrid .ChapterModeGridOnly,
.ChapterModeClassic .ChapterModeClassicOnly,
.ChapterModeList .ChapterModeListOnly,
.ChapterModeSuper .ChapterModeSuperOnly {
	visibility: visible;
}

.chapters {
	$root: &;

	&__list {
		flow-children: down;
		overflow: squish scroll;
		max-height: 768px;
		border-right: $menu-pane-border;

		#{$root}__entry {
			background-color: rgba(0, 0, 0, 0);
			border-width: 0px;

			&__details {
				border-style: none;
				padding: 15px 25px;
			}
			&__cover {
				visibility: collapse;
			}
			&__play-btns {
				visibility: collapse;
			}
		}

		&__right {
			padding: 15px 15px;
			vertical-align: center;
			flow-children: down;

			&__wrap {
				vertical-align: center;
			}
		}

		&__cover {
			width: 960px;
			height: 540px;
			border: $menu-pane-border;
		}

		&__title {
			padding: 15px 20px;
			width: 100%;
			//background-color: gradient(linear, 100% 0%, 0% 0%, from(rgba(0, 0, 0, 0)), to($base-950));
			transform: translateX(1px) translateY(-1px);
			flow-children: down;
			vertical-align: bottom;
			&__header {
				text-shadow: 2px 2px 1px 2 $base-950;
				font-size: 18px;
				overflow: noclip;
				color: $base-200;
			}
			&__text {
				text-shadow: 2px 2px 1px 2 $base-950;
				font-weight: bold;
				font-size: 24px;
				overflow: noclip;
				max-height: 80px;
			}
		}
	}

	&__square-grid,
	&__grid {
		margin: 15px;
		padding-right: 15px;
		margin-bottom: 0px;
		horizontal-align: center;
		flow-children: right-wrap;
		overflow: squish scroll;
		height: fill-parent-flow(1);
		#{$root}__entry {
			&__outer {
				margin: 0 2px 5px 2px;
			}
		}
	}

	&__square-grid {
		padding: 15px 15px;
		#{$root}__entry {
			&__outer {
				width: 384px;
				margin: 0 5px 10px 5px;
			}
			&__cover {
				height: 384px;
			}
		}
	}

	&__classic {
		flow-children: right;

		#{$root}__entry {
			&__outer {
				margin: 0 10px;
			}
			vertical-align: center;
		}
	}

	&__super {
		#{$root}__entry {
			&__outer {
				width: 960px;
			}

			&__cover {
				height: 540px;
			}

			&__details {
				&__title {
					font-size: 28px;
					color: $base-200;
				}

				&__desc {
					letter-spacing: 1px;
					font-size: 36px;
					font-weight: bold;
					max-height: 42px;
					text-overflow: shrink;
				}
			}

			&__play-btns {
				transition-duration: 0s;
			}
		}
	}

	&__container {
		horizontal-align: center;
		vertical-align: center;

		.ChapterModeList & {
			flow-children: right;
			background-color: $base-950;
			border: $menu-pane-border;
		}

		.ChapterModeSquareGrid &,
		.ChapterModeGrid & {
			flow-children: left;
		}

		.ChapterModeClassic &,
		.ChapterModeSuper & {
			flow-children: down;
		}
	}

	&__wrapper {
		horizontal-align: center;
		vertical-align: center;
		flow-children: down;
	}

	&__nav {
		.ChapterModeClassic &,
		.ChapterModeSuper &,
		.ChapterModeList & {
			padding: 10px;
			flow-children: down;
		}

		.ChapterModeSquareGrid &,
		.ChapterModeGrid & {
			padding: 10px;
		}

		.ChapterModeClassic &,
		.ChapterModeSuper & {
			width: 100%;
		}

		.ChapterModeList &,
		.ChapterModeSquareGrid &,
		.ChapterModeGrid & {
			flow-children: down;
			vertical-align: bottom;
		}

		.ChapterModeSquareGrid &,
		.ChapterModeGrid & {
			vertical-align: bottom;
			flow-children: right;
			background-color: $base-950;
			border: $menu-pane-border;
		}

		&__controls {
			.ChapterModeList &,
			.ChapterModeClassic &,
			.ChapterModeSuper & {
				horizontal-align: center;
				flow-children: right;
			}

			.ChapterModeSquareGrid &,
			.ChapterModeGrid & {
				flow-children: down;
				vertical-align: center;
			}
		}

		&__pips {
			horizontal-align: center;

			.ChapterModeList &,
			.ChapterModeClassic &,
			.ChapterModeSuper & {
				margin-top: 5px;
				flow-children: right;
			}

			.ChapterModeSquareGrid &,
			.ChapterModeGrid & {
				flow-children: down;
				vertical-align: center;
			}

			&__entry {
				margin: 0 3px;
				width: 24px;
				height: 24px;
				border-radius: 50%;
				tooltip-position: right;
				tooltip-body-position: 0% 50%;
				background-color: $button-background;
				border: 1px solid $base-900;
				& .RadioBox {
					visibility: collapse;
				}
				.InputKeyboard &:hover:not(:selected),
				.InputController &:focus {
					background-color: $base-gradient-bright;
					border-color: $base-50;
				}

				&:selected,
				&:descendantfocus {
					background-color: $button-background-hover;
					border-color: $primary-color;
				}
			}
		}

		&__label {
			text-align: center;
			text-shadow: 2px 2px 2px 3 $base-950;
			font-size: 24px;
			font-weight: bold;
			letter-spacing: 2px;
			margin: 0 15px;
			vertical-align: center;

			.ChapterModeList &,
			.ChapterModeClassic &,
			.ChapterModeSuper & {
				min-width: 192px;
			}
		}
	}

	&__entry {
		width: 100%;
		flow-children: down;
		background-color: $button-background;
		border: $menu-pane-border;

		$this: &;

		&__outer {
			width: 480px;
			flow-children: down;
		}

		&__play-btns {
			width: 100%;
			flow-children: right;
			margin-top: 5px;
			height: 0px;
			// tacky af on same row
			// transition: height 0.1s ease-in-out 0s;
		}

		&__cover {
			width: 100%;
			height: 270px;
		}

		&__details {
			width: 100%;
			margin-left: 0;
			padding: 15px;
			border-top: $menu-pane-border;
			background-color: $button-background;
			flow-children: down;

			&__title {
				font-size: 16px;
				color: $base-200;
			}

			&__desc {
				letter-spacing: 1px;
				font-size: 18px;
				font-weight: bold;
				max-height: 23px;
				text-overflow: shrink;
			}
		}

		.ChapterModeSuper &__details {
			padding: 15px 20px;
		}

		&:disabled,
		&:parentdisabled {
			opacity: 0.25;

			#{$this}__cover {
				blur: fastgaussian(15, 15, 4);
				saturation: 0;
			}
		}

		.InputKeyboard &:hover:not(:disabled):not(:parentdisabled):not(:selected),
		.InputController &:focus:not(:disabled):not(:parentdisabled) {
			border-color: $primary-900;
			background-color: $primary-900;

			#{$this}__cover {
				opacity: 0.9;
			}

			#{$this}__details {
				border-color: $primary-900;
				background-color: $primary-900;
				&__title,
				&__desc {
					color: $bright-color;
				}
			}
		}

		.InputKeyboard .ChapterModeList &:hover:not(:disabled):not(:parentdisabled):not(:selected),
		.InputController .ChapterModeList &:focus:not(:disabled):not(:parentdisabled) {
			background-color: gradient(
				linear,
				0% 0%,
				100% 0%,
				from($button-background-hover-color),
				to(rgba(0, 0, 0, 0))
			);
		}

		.InputKeyboard .ChapterModeSuper &:hover:not(:disabled):not(:parentdisabled):not(:selected),
		.InputController .ChapterModeSuper &:focus:not(:disabled):not(:parentdisabled) {
			background-color: $button-background;
			border-color: $base-700;

			#{$this}__cover {
				opacity: 1;
			}

			#{$this}__details {
				border-color: $base-700;
				background-color: $button-background;
				&__title {
					color: $base-200;
				}
			}
		}

		&:selected {
			border-color: $primary-color;
			background-color: $button-background-hover;

			#{$this}__cover {
				opacity: 0.9;
			}

			#{$this}__details {
				background-color: $button-background-hover;
				border-color: $primary-color;
				&__title,
				&__desc {
					color: $bright-color;
				}
			}

			#{$this}__details {
				&__title,
				&__desc {
					text-shadow: none;
				}
			}
		}

		.ChapterModeSuper &:selected {
			background-color: $button-background;
			border-color: $base-700;

			#{$this}__cover {
				opacity: 1;
			}

			#{$this}__details {
				border-color: $base-700;
				background-color: $button-background;
				&__title {
					color: $base-200;
				}
			}
		}
	}
}

.ChapterModeSuper #PlayBtn,
.ChapterModeSuper #CustomizeBtn,
.ChapterModeList #ListPlayBtn,
.ChapterModeList #ListCustomizeBtn {
	& > Label {
		font-size: 20px;
		transform: translateY(-2px);
	}

	height: 48px;
}

.ChapterModeSuper #CustomizeBtn,
.ChapterModeList #ListCustomizeBtn {
	width: 48px;
}
