@use '../../config' as *;
@use '../../abstract/function';
@use '../../abstract/mixin';

// .ChapterModeClassic .ChapterModeList .ChapterModeGrid .ChapterModeSuper

.ChapterModeClassic #ChaptersBack,
.ChapterModeList #ChaptersBack,
.ChapterModeSuper #ChaptersBack {
	margin-right: 15px;
	vertical-align: center;
}

.ChapterModeClassic #ChaptersNext,
.ChapterModeList #ChaptersNext,
.ChapterModeSuper #ChaptersNext {
	margin-left: 15px;
	vertical-align: center;
}

.ChapterModeGrid #ChaptersBack,
.ChapterModeGrid #ChaptersNext {
	visibility: collapse;
}

.ChapterModeGridOnly,
.ChapterModeClassicOnly,
.ChapterModeListOnly,
.ChapterModeSuperOnly {
	visibility: collapse;
}

.ChapterModeGrid .ChapterModeGridOnly,
.ChapterModeClassic .ChapterModeClassicOnly,
.ChapterModeList .ChapterModeListOnly,
.ChapterModeSuper .ChapterModeSuperOnly {
	visibility: visible;
}

.chapters {
	$root: &;

	&__list {
		flow-children: down;
		overflow: squish scroll;
		max-height: 768px;

		#{$root}__entry {
			background-color: rgba(0,0,0,0);
			border-style: none;

			&__details {
				border-style: none;
				padding: 15px 25px;
			}
			&__cover {
				visibility: collapse;
			}
		}

		&__right {
			border-left: $menu-pane-border;
			margin: 15px 0;
			padding: 15px 15px;
			vertical-align: center;

			&__wrap {
				vertical-align: center;
			}
		}

		&__cover {
			width: 960px;
			height: 540px;
			border: $menu-pane-border;
		}

		&__title {
			width: 100%;
			letter-spacing: 2px;
			text-shadow: 2px 2px 1px 3.0 $base-950;
			font-weight: bold;
			font-size: 32px;
			max-height: 80px;
			horizontal-align: right;
			vertical-align: bottom;
			text-align: right;
			padding: 15px 25px;
			background-color: gradient( linear, 100% 0%, 0% 0%, from( $base-950 ), to( rgba(0,0,0,0) ) );
			transform: translateX(-1px) translateY(-1px);
		}
	}

	&__grid {
		horizontal-align: center;
		flow-children: right-wrap;
		overflow: squish scroll;
		padding: 0 15px;
		#{$root}__entry {
			margin: 0 2px 5px 2px;
		}
	}

	&__classic {
		flow-children: right;

		#{$root}__entry {
			margin: 0 10px;
		}
	}

	&__super {
		#{$root}__entry {
			width: 960px;

			&__cover {
				height: 540px;
			}

			&__details {
				&__title {
					font-size: 32px;
					color: $base-200;
					letter-spacing: 1px;
				}

				&__desc {
					padding: 0 10px;
					letter-spacing: 1px;
					font-size: 36px;
					font-weight: bold;
					max-height: 42px;
					text-overflow: shrink;
				}
			}
		}
	}

	&__container {
		horizontal-align: center;
		vertical-align: center;

		.ChapterModeList & {
			flow-children: right;
			background-color: $base-950;
			border: $menu-pane-border;
		}

		.ChapterModeGrid & {
			flow-children: left;
		}

		.ChapterModeClassic &,
		.ChapterModeSuper & {
			flow-children: down;
		}
	}

	&__wrapper {
		horizontal-align: center;
		vertical-align: center;
	}

	&__nav {
		.ChapterModeClassic &,
		.ChapterModeSuper &,
		.ChapterModeList & {
			padding: 15px;
			flow-children: down;
		}

		.ChapterModeGrid & {
			padding: 10px;
		}

		.ChapterModeClassic &,
		.ChapterModeSuper & {
			width: 100%;
		}

		.ChapterModeList &,
		.ChapterModeGrid & {
			flow-children: down;
			vertical-align: bottom;
		}

		.ChapterModeGrid & {
			vertical-align: bottom;
			flow-children: right;
			background-color: $base-950;
			border: $menu-pane-border;
		}

		&__controls {
			.ChapterModeList &,
			.ChapterModeClassic &,
			.ChapterModeSuper & {
				horizontal-align: center;
				flow-children: right;
			}

			.ChapterModeGrid & {
				flow-children: down;
				vertical-align: center;
			}
		}

		&__pips {
			horizontal-align: center;

			.ChapterModeList &,
			.ChapterModeClassic &,
			.ChapterModeSuper & {
				margin-top: 5px;
				flow-children: right;
			}

			.ChapterModeGrid & {
				flow-children: down;
				vertical-align: center;
			}

			&__entry {
				margin: 0 3px;
				width: 24px;
				height: 24px;
				border-radius: 50%;
				tooltip-position: right;
				tooltip-body-position: 0% 50%;
				background-color: $button-background;
				border: 1px solid $base-900;
				& .RadioBox {
					visibility: collapse;
				}
				.InputKeyboard &:hover:not(:selected),
				.InputController &:focus {
					background-color: $base-gradient-bright;
					border-color: $base-50;
				}

				&:selected {
					background-color: $button-background-hover;
					border-color: $primary-color;
				}
			}
		}

		&__label {
			text-align: center;
			text-shadow: 2px 2px 2px 3.0 $base-950;
			font-size: 24px;
			font-weight: bold;
			letter-spacing: 2px;
			margin: 0 15px;
			vertical-align: center;

			.ChapterModeList &,
			.ChapterModeClassic &,
			.ChapterModeSuper & {
				min-width: 128px;
			}
		}
	}

	&__entry {
		width: 480px;
		flow-children: down;
		background-color: $button-background;
		border: $menu-pane-border;
		vertical-align: center;

		$this: &;

		&__lined {
		}

		&__cover {
			width: 100%;
			height: 270px;
		}

		&__details {
			width: 100%;
			margin-left: 0;
			padding: 15px;
			border-top: $menu-pane-border;
			background-color: $button-background;
			flow-children: down;

			&__title {
				font-size: 16px;
				color: $base-200;
				letter-spacing: 1px;
			}

			&__desc {
				letter-spacing: 1px;
				font-size: 18px;
				font-weight: bold;
				max-height: 23px;
				text-overflow: shrink;
			}
		}

		&:disabled,
		&:parentdisabled {
			opacity: 0.25;

			#{$this}__cover {
				blur: fastgaussian(15, 15, 4);
				saturation: 0;
			}
		}

		.InputKeyboard &:hover:not(:disabled),
		.InputController &:focus:not(:disabled) {
			border-color: $primary-color;
			background-color: $button-background-hover;

			#{$this}__cover {
				opacity: 0.9;
			}

			#{$this}__details {
				background-color: $button-background-hover;
				border-color: $primary-color;
				&__title,
				&__desc {
					color: $bright-color;
				}
			}
		}

		.InputKeyboard .ChapterModeList &:hover:not(:disabled),
		.InputController .ChapterModeList &:focus:not(:disabled) {
			background-color: gradient( linear, 0% 0%, 100% 0%, from( $button-background-hover-color ), to( rgba(0,0,0,0) ) );
		}

		&:selected {
			#{$this}__details {
				wash-color: $base-950;

				&__title,
				&__desc {
					text-shadow: none;
				}
			}
		}
	}
}
