@use '../../config' as *;
@use '../../abstract/function';
@use '../../abstract/mixin';

.campaign-settings {
	height: 100%;
	flow-children: left;

	&__container {
		width: 100%;
		height: 100%;
		flow-children: down;
	}

	&__expand-btn {
		height: 100%;
		tooltip-body-position: 50% 50%;

		$this: &;

		&__icon {
			padding: 15px;
			vertical-align: center;
			horizontal-align: center;
			img-shadow: 5px 5px 1px 1 $base-950;
		}

		&:hover {
			#{$this}__icon {
				img-shadow: 5px 5px 1px 1 $primary-color;
			}
		}
	}

	&__left {
		width: fill-parent-flow(1);
		height: 100%;
		flow-children: down;
		visibility: collapse;
		margin-left: 10px;
	}

	&__button {
		width: fill-parent-flow(0.3);
		border: $menu-pane-border;
		background-color: $base-950;
		padding: 10px 15px;
		margin-bottom: 5px;

		&__icon {
			width: 32px;
			height: 32px;
			vertical-align: center;
			margin-right: 10px;
		}

		&__text {
			@include mixin.font-styles($use-header: true, $light-header: false);
		}

		&__subtext {
			color: $base-300;
			font-size: 16px;
			text-align: center;
		}

		&:hover {
			border-color: $primary-color;
			background-color: $button-background-hover;
		}
	}

	&__help {
		width: fill-parent-flow(0.5);
		height: 100%;
		flow-children: down;
		background-color: $base-900;
		border: $menu-pane-border;
		margin-right: 10px;
		padding: 15px;
	}

	&__right {
		height: 100%;
		flow-children: down;
	}

	&__chapter-overlay {
		width: 100%;
		height: 100%;
		margin: 1px;
		background-color: gradient(linear, 0% 0%, 0% 100%, from(rgba(0, 0, 0, 0)), to($base-950));
	}

	&__box-logo {
		width: 48px;
		height: 48px;
		margin-right: 10px;
		vertical-align: center;
	}

	&__chapter-text {
		@include mixin.font-styles($use-header: true, $light-header: false);
		width: 100%;
		font-size: 24px;
		text-shadow: 2px 2px 4px 2 $base-950;
		transform: translateY(-2px);
	}

	&__map-text {
		color: $base-200;
		width: 100%;
		text-shadow: 2px 2px 2px 2 $base-950;
		transform: translateY(-2px);
	}

	&__chapter-img {
		width: 640px;
		height: 360px;
		border: $menu-pane-border;
		background-color: $base-950;
	}

	&__header {
		width: 100%;
		flow-children: right;
		padding: 15px;
		background-color: $base-950;
		border: $menu-pane-border;
		border-bottom-width: 0px;
	}

	&__summary {
		width: 100%;
		height: fill-parent-flow(1);
		background-color: $base-900;
		border: $menu-pane-border;
		border-top-width: 0;
		border-bottom-width: 0;
		flow-children: down;
		padding: 15px 10px;

		&__header {
			@include mixin.font-styles($use-header: true, $light-header: false);
			font-size: 20px;
		}

		&__inner {
			width: 100%;
			height: 100%;
			flow-children: down;
			overflow: squish scroll;
		}

		&__text {
			color: $base-200;
			font-size: 16px;
			margin-left: 15px;
		}
	}

	&__start {
		height: fit-children;
		padding: 15px 20px;
		tooltip-position: left;
		tooltip-body-position: 50% 50%;

		&__icon {
			width: 64px;
			height: 64px;
			margin-right: 15px;
		}

		&__text {
			@include mixin.font-styles($use-header: true, $light-header: false);
			letter-spacing: 3px;
			font-size: 32px;
			transform: translateY(-2px);
			text-transform: uppercase;
		}
	}
}

.campaign-setting {
	&__entry {
		width: 100%;
		height: 50px;
		padding: 0 15px;
		flow-children: right;

		&__odd {
		}

		&:hover {
			animation: OpacityFlicker 12s linear 0s infinite normal forwards;
			background-color: gradient(linear, 0% 0%, 100% 0%, from(rgba(0, 0, 0, 0)), to($button-background-hover));
		}

		&__text {
			@include mixin.font-styles($use-header: true);
			width: fill-parent-flow(0.5);
			font-size: 20px;
			vertical-align: center;
			transform: translateY(-2px);
		}

		&__value {
			width: fill-parent-flow(0.5);
			vertical-align: center;
		}

		&__checkbox {
			height: 24px;

			.TickBox {
				margin-right: 0;
				background-color: $base-950;
				border: $menu-pane-border;
				horizontal-align: right;
			}

			&:hover .TickBox {
				background-color: $base-900;
			}
		}

		&__textentry {
			height: fit-children;
			font-size: 16px;
			font-family: $font-monospace;
			color: $bright-color;
			border: 1px solid $base-700;
			background-color: $base-950;

			&:focus {
				background-color: $base-900;
				color: $bright-color;
			}

			&:hover {
				background-color: $base-900;
				color: $bright-color;
			}
		}

		&__dropdown {
			width: 447px;
			height: 38px;

			background-color: $base-950;
			border: $menu-pane-border;
			&:hover:not(:disabled):not(:parentdisabled) {
				background-color: $base-900;
				.DropDownIcon {
					border-left-color: $base-700;
				}
			}
			.DropDownIcon {
				border-left: $menu-pane-border;
			}
			&:not(:parentdisabled) .DropDownIcon {
				wash-color: $bright-color;
			}
			&.DropDownMenuVisible {
				border-color: $base-700;
				background-color: $base-900;
				& > .DropDownIcon {
					border-color: $base-700;
					transform: scaleY(-1);
				}
			}
			Label {
				font-size: 14px;
				width: 100%;
			}
			&:not(:parentdisabled) Label {
				color: $bright-color;
			}
		}
	}
}
