@use '../../config' as *;

.campaign-maps {
	height: 100%;
	width: 100%;
	flow-children: right-wrap;
	overflow: squish scroll;

	$root: &;

	&__list {
		flow-children: down;
		#{$root}__entry {
			margin: 5px;
			width: 100%;
		}
	}

	&__entry {
		margin: 10px;
		width: 380px;
		flow-children: down;
		background-color: $button-background;
		border: $menu-pane-border;

		$this: &;

		&__lined {
		}

		&__no-img {
			#{$this}__cover {
				visibility: collapse;
			}
			#{$this}__details {
				border-top-style: none;
			}
		}

		&__cover {
			width: 100%;
			height: 214px;
		}

		&__details {
			width: 100%;
			margin-left: 0;
			padding: 15px;
			border-top: $menu-pane-border;
			flow-children: down;
			background-color: $button-background;

			&__title {
				font-size: 16px;
				letter-spacing: 1px;
				max-height: 20px;
				text-overflow: shrink;
			}
		}

		&:disabled,
		&:parentdisabled {
			opacity: 0.25;

			#{$this}__cover {
				blur: fastgaussian(15, 15, 4);
				saturation: 0;
			}
		}

		.InputKeyboard &:hover:not(:disabled):not(:selected),
		.InputController &:focus:not(:disabled) {
			border-color: $primary-color;
			background-color: $button-background-hover;

			#{$this}__cover {
				opacity: 0.9;
			}

			#{$this}__details {
				border-color: $primary-color;
				background-color: $button-background-hover;
			}
		}

		.InputKeyboard .ChapterModeList &:hover:not(:disabled),
		.InputController .ChapterModeList &:focus:not(:disabled) {
			background-color: gradient(
				linear,
				0% 0%,
				100% 0%,
				from($button-background-hover-color),
				to(rgba(0, 0, 0, 0))
			);
		}

		&:selected {
			background-color: $primary-color;
			border-color: $primary-color;
			#{$this}__cover {
				opacity: 0.95;
			}
			#{$this}__details {
				background-color: $primary-color;
				border-color: $primary-color;
				&__title,
				&__desc {
					color: $base-950;
					text-shadow: none;
				}
			}
		}
	}
}
