@use '../config' as *;

.console {
	&__outer {
		width: 1024px;
		height: 768px;
		min-width: 200px; /* Used for resize dragging! */
		min-height: 200px; /* ditto */
		background-color: $base-950;
		padding: 0px 20px 20px 20px;
		border: $menu-pane-border;
	}

	&__main {
		flow-children: down;
	}

	&__inner {
		width: 100%;
		height: fill-parent-flow(1);
		flow-children: down;
	}

	&__message-target > MultiselectLabel {
		text-shadow-fast: none;
		font-family: $font-monospace;
		font-size: $font-console-default-size;
		margin-right: 16px;
	}

	&__top-splitter {
		height: $separator-height;
		min-width: 100%;
		background-color: $base-700;
	}

	&__message-target {
		margin-top: 8px;
		margin-bottom: 8px;

		overflow: squish scroll;
		height: fill-parent-flow(1);
		flow-children: up;
	}

	&__move-drag-area {
		width: 100%;
		flow-children: right;
		padding-top: 10px;
		padding-bottom: 5px;
	}

	&__resize-drag-knob {
		horizontal-align: right;
		vertical-align: bottom;
		margin: -8px;
		width: 16px;
		height: 16px;
	}

	&__header {
		vertical-align: center;
		font-size: 30px;
	}

	&__input {
		font-family: $font-monospace;
		font-size: $font-default-size;
		text-overflow: clip;
		white-space: nowrap;
		height: fit-children;
	}
}
