@use '../config' as *;

$background: #181818fd;
$color: $light-100;
$border: #444;
$radius: 0px;

$height: 34px;
$padding: 12px;

$border-2: mix($background, $border, $weight: 50%);
$border-3: mix($background, $border, $weight: 75%);
$border-4: mix($background, $border, $weight: 85%);

Console {
	background-color: $background;
	border: 1px solid $border;
	border-radius: $radius;

	box-shadow: #0005 2px 4px 14px 0px;
 	width: 1024px;
	height: 768px;
	min-width: 200px;
	min-height: 200px;

	flow-children: down;
	padding: $padding;

	font-family: $font-monospace;
	font-weight: light;
	font-size: 12px;
	line-height: 1.4;

	Panel.header,
	Panel.footer {
		width: 100%;
		height: $height;
		margin-right: 0-$padding;
		margin-left: 0-$padding;
		padding: 0 $padding;

		> Button,
		> Panel,
		> Label,
		> ResizeDragKnob {
			vertical-align: center;
		}
	}

	Panel.header:active {
		background-color: $border-4;
	}

	Panel.header { border-bottom: 1px solid $border-2; margin-top: 0-$padding; }
	Panel.footer { border-top: 1px solid $border-2; margin-bottom:  0-$padding; }

	Button#ConsoleClose {
		transform: rotateZ(45deg);
	}

	Panel.header,
	Panel.footer {
		color: $color;

		.button {
			horizontal-align: right;
			transition: opacity 0.1s linear 0.0s;
			opacity: 0.05;
		}

		&:hover .button {
			opacity: 0.2;
		}

		&:hover .button:hover {
			opacity: 0.8;
		}
	}

	StaticConsoleMessageTarget {
		height: fill-parent-flow(1);
		width: 100%;

		flow-children: up;
		overflow: squish scroll;
		padding: $padding 0;

		MultiselectLabel {
			line-height: 14px;
		}
	}

	ConsoleInput {
		color: $color;
		vertical-align: center;
		width: 100%;
		height: $height;

		// Fixed inner text height, yucky hack.
		padding: calc($height / 2) - 7px $padding;
		margin: 0 0-$padding;

		&:focus {
			background-color: $border-4;
		}
	}
}

TextEntryAutocomplete {
	width: 480px;
	max-height: 280px;
	flow-children: down;
	overflow: squish scroll;

	z-index: 0;
	opacity: 1;

	box-shadow: fill #00000066 2px 2px 4px 4px;
	border: 1px solid $dark-800;

	& Label {
		width: 100%;
		padding: 2px 0px 2px 16px;
		// margin-right: 16px;

		color: $dark-500;
		background-color: $light-500;

		font-family: $font-monospace;
		font-size: $font-size-h8;
		font-weight: normal;
		z-index: 0;
		border-bottom: 1px solid $light-600;

		&:focus {
			background-color: $dark-200;
			color: $light-500;
		}

		&:hover {
			background-color: $light-600;
			color: $dark-800;
		}
	}
}
