.sample-block {
	min-width: 32px;
	min-height: 32px;
}

#ControlsLibraryPanel {
	transition: transform 1s ease-in-out 0s;
}

.very-useful-class {
	transition: transform 1s linear 0s;
	transform: rotateX(0deg) rotateZ(10deg) rotateY(2deg) scale3d(0.99, -0.9, 1) translateZ(20px);
}

.more-useful-class {
	transition: transform 1s linear 0s;

	saturation: 2;
	brightness: 2;
	contrast: 2;
}

$ease: cubic-bezier(0.25, 0.1, 0.25, 1.0);
$ease-in: cubic-bezier(0.42, 0.0, 1.0, 1.0);
$ease-out: cubic-bezier(0.0, 0.0, 0.58, 1.0);
$ease-in-out: cubic-bezier(0.42, 0.0, 0.58, 1.0);

@keyframes test-anim {
	0% {
		transform: rotateZ(0deg) scale3d(1,1,1);
	}
	25% {
		transform: rotateZ(90deg) scale3d(1,1,1);
	}
	50% {
		transform: rotateZ(90deg) scale3d(0.5,0.5,0.5);
	}
	75% {
		transform: rotateZ(180deg) scale3d(0.5,0.5,0.5);
	}
	100% {
		transform: rotateZ(180deg) scale3d(1,1,1);
	}
}

.anim-panel {
	height: 200px;
	width: 200px;
	flow-children: right;
	//background-color: #111;
}

.bezier-spin {
	// align: center center;
	width: 100px;
	height: 100px;
	background-color: #f44;
	animation-name: test-anim;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.bezier-spin-ease { animation-timing-function: ease }
.bezier-spin-ease-in { animation-timing-function: ease-in }
.bezier-spin-ease-out { animation-timing-function: ease-out }
.bezier-spin-ease-in-out { animation-timing-function: ease-in-out }

.bezier-spin-ease-m { animation-timing-function: $ease }
.bezier-spin-ease-in-m { animation-timing-function: $ease-in }
.bezier-spin-ease-out-m { animation-timing-function: $ease-out }
.bezier-spin-ease-in-out-m { animation-timing-function: $ease-in-out }