@use '../config' as *;
@use '../abstract/function';
@use '../abstract/mixin';
@use './main-menu' as *;

$tile-margin: 8px;

Panel.body {
	flow-children: right;
	margin: $tile-margin;
}

TileGrid {
	overflow: scroll clip;
}

TileGrid > Panel {
	background-color: $gray-500;
}