@use '../config' as *;

.loadingscreen {
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.01);
	transform: scale3d(1, 1, 1);
	opacity: 1;

	&__background {
		width: 100%;
		height: 100%;
	}

	&__background-image1 {
		z-index: -1;
	}

	&__background-image2 {
		z-index: -2;
	}

	&__contents {
		opacity: 1;

		transition-property: height, opacity;
		transition-duration: 0.5s;
		transition-timing-function: ease-in-out;
	}

	&__show {
		animation-name: loadingscreen__show-animation;
		animation-duration: 0.65s;
		animation-timing-function: ease-in-out;
		animation-iteration-count: 1;
		animation-fill-mode: both;
	}

	&__logo {
		vertical-align: top;
		horizontal-align: right;
		width: 100px;
		margin-right: 52px;
		margin-top: 52px;
	}

	&__backgroundhideanim {
		animation-name: loading-screen-background-hide-anim;
		animation-duration: 0.33s;
		animation-timing-function: linear;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;
	}

	&__progressbar {
		width: 100%;
		vertical-align: bottom;
		horizontal-align: center;
		margin-top: 8px;
	}

	&__details {
		width: 100%;
		height: fill-parent-flow(1);
		font-size: 24px;
	}

	&__left-details {
		flow-children: down;
		vertical-align: top;
		horizontal-align: left;
		width: 1200px;
	}

	&__right-details {
		flow-children: down;
		vertical-align: top;
		horizontal-align: right;
		width: fill-parent-flow(1);
	}

	&__right-label {
		text-align: right;
		horizontal-align: right;
	}

	&__status-label {
		vertical-align: bottom;
		horizontal-align: left;
	}

	&__percentage-label {
		// Right-aligned items sometimes don't adjust their width properly,
		// set a static width that'll always be large enough to fit the text
		width: 300px;
		vertical-align: top;
		horizontal-align: right;
		text-align: right;
		font-size: 24px;
		font-weight: bold;
	}

	&__progress-panel {
		width: 60%;
		background-color: $base-950;
		border: $menu-pane-border;
		padding: 20px;
		margin-bottom: 24px;
		vertical-align: bottom;
		horizontal-align: center;
		flow-children: down;
	}
}

/* NOTE: This class/animation is used by the game code, do not rename/remove! */
/* If you want to remove the animation, just set duration to 0s instead. */
.loading-screen--closing {
	animation-name: loading-screen--closing-animation;
	animation-duration: 0.4s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes loading-screen--closing-animation {
	0% {
		opacity: 1;
	}

	25% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes loading-screen-background-hide-anim {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}
