@use '../config' as *;
@use '../abstract/function';
@use '../abstract/mixin';

$header-height: 120px;
$footer-height: 100px;
$header-margins: 8px;

$page-transition-duration: 0.15s;
$page-transition-timing-func: ease-in-out;

#TooltipManager,
#ContextMenuManager,
#PopupManager,
ChaosMainMenu {
	width: 100%;
	height: 100%;
}

.align-right {
	horizontal-align: right;
}

.menu-paused .menu-only,
.paused-only {
	visibility: collapse;
}

.menu-paused .paused-only,
.menu-only {
	visibility: visible;
}

.fill {
	width: 100%;
	height: 100%;
}

#MainMenuInput {
	width: 100%;
	height: 100%;
	flow-children: down;
}

#MainMenuHeader {
	width: 100%;
	height: $header-height;
	flow-children: right;
	padding: $header-margins ($header-margins*2);

	background-color: $gray-100;

	> Panel {
		flow-children: right;
	}

	> Image,
	> Panel {
		vertical-align: middle;
	}

	> Image,
	> Panel > Button {
		margin: $header-margins;
	}
}

#MainMenuHeader Button {
	height: 46px;
	padding: 0 24px;

	border-radius: 23px;
	background-color: $gray-300;

	&#nav-develop {
		border: 2px solid red;
		> Label { color: red }
	}

	&#nav-quit {
		background-color: #dd2d2d;
		&:hover { background-color: #eb4242 }
	}

	&:hover {
		background-color: $gray-400;
	}

	&.active {
		background-color: #FE7A02;
		> Label {
			color: $black;
		}
	}

	> Label {
		vertical-align: middle;
		color: $gray-900;
	}
}

#MainMenuBody {
	width: 100%;
	height: fill-parent-flow(1.0);
	background-color: $gray-200;
}

#MainMenuFooter {
	width: 100%;
	height: $footer-height;
	background-color: $gray-100;
}