.body {
	flow-children: right;
}

.sidebar {
	width: 400px;
}

#SettingsSearch {
	width: fill-parent-flow(1.0);
	border: 1px solid #888;
	border-radius: 3px;
	padding: 5px;
}

#SettingsButtons > RadioButton {
	width: fill-parent-flow(1.0);
	padding: 5px;

	&:selected {
		background-color: #333;
	}
}

.sidebar, #SettingsButtons {
	flow-children: down;
}

.sidebar {
	height: 100%;
	padding: 20px;
}

#SettingsPages {
	width: fill-parent-flow(1.0);
	height: 100%;
	flow-children: down;
	// overflow: clip scroll;
}

#SettingsPages > Panel {
	width: fill-parent-flow(1.0);
	height: fill-parent-flow(1.0);
	visibility: collapse;
}

#SettingsPages > .show {
	visibility: visible;
}