@use '../config' as *;

$vertical-pad: 128px;
$horizontal-pad: 64px;
$category-height: 52px;

Panel {
	flow-children: down;
}

Panel.root {
	width: 100%;
	height: 100%;
	flow-children: right;

	transition: pre-transform-scale2d 0.15s $easeOutQuint 0.0s,
				opacity 0.1s linear 0.0s;

	&.pre-trans {
		pre-transform-scale2d: 1.05;
		opacity: 0.0;
	}
}

Panel#sidebar {
	width: 28%;
	height: 60%;
	padding: 0 $horizontal-pad;
	vertical-align: center;
	flow-children: down;

	Label {
		font-family: $font-primary;
		font-weight: bold;
	}

	> Panel.sidebar-body {
		width: 100%;
		height: fit-children;
		vertical-align: center;
		flow-children: down;

		Label.sidebar-header {
			horizontal-align: center;
			color: $dark-200;
			font-size: $font-size-h2;
			margin-bottom: 32px;

			MainMenu.paused & {
				color: $light-200;
			}
		}
	}

	TextEntry {
		width: 100%;
		height: $category-height;

		Label {
			align: center center;
			font-weight: normal;
		}

		color: $dark-200;
		border-bottom: 2px solid $light-600;
		margin-bottom: 32px;
	}

	Panel#categories {
		width: 100%;
		flow-children: down;

		RadioButton {
			height: $category-height;
			width: 90%;
			color: $dark-500;
			border-right: 1px solid $light-600;

			MainMenu.paused & {
				color: $light-800;
				border-right: 1px solid $dark-400;

				&:selected {
					background-color: $dark-400;
					color: $light-200;
				}
			}

			transition: width 0.12s $easeOutQuart 0.0s,
			            color 0.08s linear 0.0s,
						background-color 0.08s linear 0.0s;

			&:selected {
				border-right: 1px solid $light-500;
				background-color: $dark-500;
				color: $light-500;
				width: 100%;

				Label {
					font-weight: normal;
				}
			}

			Label {
				align: center center;
			}
		}
	}

}

Panel#body {
	width: fill-parent-flow(1.0);
	height: 100%;

	> Panel {
		visibility: collapse;

		&.show {
			visibility: visible;
		}
	}
}