@use '../config' as *;
@use '../abstract/function';
@use '../abstract/mixin';
@use 'sass:color';
@use 'sass:list';
@use 'sass:map';

.button {
	height: $button-height;
	background-color: $button-background;
	box-shadow: $button-shadow;
	border-radius: $button-radius;
	border-bottom: $button-border;
	color: $button-text-color;
	flow-children: right;
	tooltip-position: bottom;

	$this: &;

	&:hover:not(:disabled):not(:parentdisabled):not(:selected) {
		background-color: $button-background-hover;
		#{$this}__text {
			color: $button-text-hover;
		}

		#{$this}__icon {
			wash-color: $button-text-hover;
		}
	}

	&:disabled,
	&:disabled &:hover,
	&:parentdisabled,
	&:parentdisabled &:hover {
		background-color: $button-background-disabled;
		border-color: $button-text-disabled;
	}

	&:disabled &__text,
	&:parentdisabled &__text {
		color: $button-text-disabled;
	}

	&:disabled &__icon {
		wash-color: $button-text-disabled;
	}

	&__text {
		@include mixin.font-styles($use-header: $button-use-header-font, $light-header: $button-light-header-font);
		font-size: $button-font-size;
		color: $button-text-color;
		margin: 0 $button-text-side-margin;
		text-shadow: $button-text-shadow;
		vertical-align: middle;
		horizontal-align: center;
		text-align: center;
		overflow: squish;
		text-overflow: shrink;

		&--left {
			margin-left: $button-text-side-margin;
			margin-right: $button-icon-text-gap;
		}

		&--right {
			margin-left: $button-icon-text-gap;
			margin-right: $button-text-side-margin;
		}
	}

	&__icon {
		height: 100%;

		width: height-percentage(100%);
		padding: $button-icon-padding;
		vertical-align: center;
		horizontal-align: center;
		img-shadow: $button-icon-shadow;
		wash-color: $button-text-color;

		&--left {
			margin-left: $button-icon-with-text-side-margin - 2px;
			margin-right: $button-icon-text-gap;
			padding: $button-icon-side-padding;
		}

		&--right {
			margin-left: $button-icon-text-gap;
			margin-right: $button-icon-with-text-side-margin - 2px;
			padding: $button-icon-side-padding;
		}
	}
}

@each $name, $value in $gradients-primary {
	.button--#{$name} {
		background-color: list.nth($value, 1);
		border-color: color.scale(list.nth($value, 1), $lightness: -60%);

		&:hover:not(:disabled):not(:parentdisabled):not(:selected) {
			background-color: color.scale(list.nth($value, 1), $lightness: -60%);
		}
	}
}

RadioButton.button-mono {
	& .RadioBox {
		visibility: collapse;
	}
}

.button-mono {
	@extend .button;

	flow-children: right;

	padding: 0 15px;
	background-color: $base-950;
	border: $menu-pane-border;

	$this: &;

	&__icon {
		width: 24px;
		height: 24px;
		margin-right: 8px;
		vertical-align: middle;
	}

	&__icon-right {
		@extend .button-mono__icon;

		margin-left: 8px;
		margin-right: 0px;
	}

	&__text {
		font-weight: bold;
		font-size: 16px;
		vertical-align: center;
	}

	&__text-panel {
		vertical-align: center;
		flow-children: down;

		&__header {
			font-weight: bold;
		}

		&__subheader {
			color: $base-300;
			font-size: 15px;
			max-height: 23px;
			text-overflow: ellipsis;
		}
	}

	&:hover:not(:disabled):not(:parentdisabled),
	&:selected {
		border-color: $primary-color;
		background-color: $button-background-hover;
	}

	&:disabled,
	&:disabled &:hover,
	&:parentdisabled,
	&:parentdisabled &:hover {
		background-color: $button-background-disabled;
		border-color: $base-800;
	}

	&:disabled &__text,
	&:parentdisabled &__text {
		color: $base-500;
	}

	&:disabled &__icon,
	&:parentdisabled &__icon {
		wash-color: $base-500;
	}

	&__bigger {
		height: fit-children;
		padding: 15px;

		#{$this}__icon {
			width: 32px;
			height: 32px;
		}

		#{$this}__text {
			@include mixin.font-styles($use-header: true);
			font-size: 22px;
		}
	}
}
