@use '../config' as *;
@use '../abstract/mixin';

// Default styling for Labels, as used so commonly
Label {
	@include mixin.font-styles($use-header: false);

	font-size: $font-default-size;
	transform: translateY(-1px);

	&:disabled {
		color: $font-disabled-color;
	}
}
