@use '../config' as *;
@use '../abstract/function';
@use '../abstract/mixin';
@use 'sass:color';
@use 'sass:list';

.radiobutton {
	.RadioBox {
		visibility: collapse;
	}

	&:selected {
		background-color: $button-background-selected;
		border-color: $primary-color;
	}

	.InputKeyboard &:hover:selected:not(:disabled):not(:parentdisabled) {
		background-color: $button-background-selected;
		border-color: $primary-color;
		sound: 'UIPanorama.P2CE.MenuSelect';

		& Label {
			color: $button-text-hover;
		}

		& Image {
			wash-color: $button-text-hover;
		}
	}
}

.radiobutton-classic {
	background-color: none;
	vertical-align: middle;
	flow-children: right;

	.RadioBox {
		width: $radiobox-width;
		height: $radiobox-width;
		margin-right: $radiobutton-gap;
		border-radius: $radiobox-radius;
		background-color: $radiobutton-background;
		box-shadow: $radiobox-shadow;
	}

	&__text {
		@include mixin.font-styles($use-header: $radiobutton-use-header-font);
		vertical-align: middle;
	}

	&:hover .RadioBox {
		background-color: $radiobutton-background-hover;
		sound: 'UIPanorama.P2CE.MenuSelect';
	}

	&:disabled .RadioBox,
	&:disabled:hover .RadioBox {
		background-color: $radiobutton-background-disabled;
	}

	&:disabled &__text {
		color: $radiobutton-text-disabled;
	}

	&:selected .RadioBox {
		background-color: gradient(
			radial,
			50% 50%,
			0% 0%,
			50% 50%,
			from($primary-500),
			color-stop(0.6, $primary-700),
			color-stop(0.65, $base-900),
			to($base-950)
		);
		sound: 'UIPanorama.P2CE.MenuSelect';
		//background-color: $radiobutton-background-selected;

		&__text {
			color: $button-text-selected;
		}
	}

	&:disabled:selected .RadioBox {
		background-color: gradient(
			radial,
			50% 50%,
			0% 0%,
			50% 50%,
			from($primary-500),
			color-stop(0.6, $primary-700),
			color-stop(0.65, $base-900),
			to($base-950)
		);
		opacity: 0.5;
	}
}

.tabs {
	$root: &;

	flow-children: right;

	&__border {
		width: 1px;
		background-color: $base-700;
		height: 45px;

		&__left {
			margin-left: 2px;
		}
		&__right {
			margin-right: 2px;
		}
	}

	&__item {
		background-color: $button-background;
		flow-children: down;

		$this: &;

		&__taller {
			#{$this}__inner {
				height: 60px;
			}
		}

		&__inner {
			padding: 5px 25px;
			height: 45px;
		}

		&:parentdisabled,
		&:disabled {
			opacity: 0.1;
		}

		&:hover:not(:parentdisabled):not(:disabled):not(:selected),
		&:focus:not(:parentdisabled):not(:disabled) {
			background-color: $button-background-hover;
			border-color: $primary-color;
		}

		&:selected {
			border-color: $primary-color;
			background-color: $primary-color;

			& > #{$root}__subitem:hover {
				background-color: $primary-950;
			}

			#{$root}__item-label {
				color: $base-950;
			}

			#{$root}__subitem-label {
				color: $base-950;
			}
		}
	}

	&__item-label {
		font-weight: bold;
		letter-spacing: 1px;
		font-size: 26px;
		overflow: squish;
		text-overflow: shrink;
		vertical-align: center;
		transform: translateY(-2px);
	}

	&__gap {
		width: 2px;
		height: 100%;
		margin: 0 2px;
	}

	.RadioBox {
		visibility: collapse;
	}

	&__indicator {
		width: 100%;
		height: 35px;
		background-color: $button-background-hover;
		border-bottom: 1px solid $primary-color;
		border-top: 1px solid $primary-color;
		&__text {
			text-transform: uppercase;
			font-weight: bold;
			letter-spacing: 1px;
			font-size: 16px;
			horizontal-align: center;
			vertical-align: center;
		}
	}
}

@each $name, $value in $gradients-primary {
	.radiobutton--#{$name} {
		background-color: gradient(
			radial,
			50% 50%,
			0% 0%,
			70% 70%,
			from(list.nth($value, 1)),
			to(color.scale(list.nth($value, 1), $lightness: -50%))
		);
		border-color: color.scale(list.nth($value, 1), $lightness: -80%);

		@if color.channel(color.to-space(list.nth($value, 1), hsl), 'lightness') > 50% {
			& Label {
				color: $base-950;
			}
			& Image {
				wash-color: $base-950;
			}

			.InputKeyboard &:hover:not(:disabled):not(:parentdisabled):not(:selected),
			.InputController &:focus:not(:disabled):not(:parentdisabled) {
				& Label {
					color: $bright-color;
				}
				& Image {
					wash-color: $bright-color;
				}
			}

			.InputKeyboard &:selected,
			.InputController &:selected {
				& Label {
					color: $bright-color;
				}
				& Image {
					wash-color: $bright-color;
				}
			}
		}

		.InputKeyboard &:hover:not(:disabled):not(:parentdisabled):not(:selected),
		.InputController &:focus:not(:disabled):not(:parentdisabled) {
			border-color: list.nth($value, 1);
			background-color: gradient(
				radial,
				50% 50%,
				0% 0%,
				70% 70%,
				from(color.scale(list.nth($value, 1), $lightness: -20%)),
				to(color.scale(list.nth($value, 1), $lightness: -80%))
			);
		}

		.InputKeyboard &:hover:not(:disabled):not(:parentdisabled):selected,
		&:selected {
			background-color: color.scale(list.nth($value, 2));
			border-color: color.scale(list.nth($value, 2));
		}
	}
}
