@use '../config' as *;
@use '../abstract/function';
@use '../abstract/mixin';
@use 'button';
@use 'sass:color';
@use 'sass:list';

.togglebutton {
	.TickBox {
		visibility: collapse;
	}

	&:hover {
		background-color: $button-background-hover;
	}

	&:selected {
		background-color: $button-background-selected;
		border-color: $primary-color;

		& .button__text {
			color: $button-text-hover;
		}

		& .button__icon {
			wash-color: $button-text-hover;
		}
	}
}

.checkbox {
	flow-children: right;
	height: $checkbox-width;

	// This gets inserted in code
	.TickBox {
		height: 100%;
		width: height-percentage(100%);
		vertical-align: middle;
		background-color: $checkbox-background;
		border-bottom: $checkbox-border;
		border-radius: $checkbox-radius;
		z-index: 1;
		margin-left: 0;
		margin-right: $checkbox-gap;
		box-shadow: $checkbox-shadow;
	}

	$this: &;
	&--right {
		flow-children: left;

		& .TickBox {
			margin-right: 0;
			margin-left: $checkbox-gap;
		}
	}

	&:hover .TickBox {
		background-color: $checkbox-background-hover;
	}

	&:disabled .TickBox,
	&:disabled:hover .TickBox {
		background-color: $checkbox-background-disabled;
		border-color: $button-text-disabled;
	}

	&:selected .TickBox {
		box-shadow: $checkbox-shadow;

		background-color: $checkbox-background-selected;
		background-image: url('file://{images}/checkmark.svg');
		background-size: 60% 60%;
		background-repeat: no-repeat;
		background-position: center;
	}

	&:selected:hover .TickBox {
		background-color: $checkbox-background-selected-hover;
	}

	&:disabled:selected .TickBox {
		background-color: $checkbox-background-disabled-selected;
		opacity: 0.5;
	}

	& Label {
		@include mixin.font-styles($use-header: $checkbox-use-header-font);
		vertical-align: middle;
	}
}

@each $name, $value in $gradients-primary {
	.togglebutton--#{$name} {
		background-color: list.nth($value, 1);
		border-color: color.scale(list.nth($value, 1), $lightness: -60%);

		&:hover {
			background-color: color.scale(list.nth($value, 1), $lightness: -60%);
		}

		&:selected {
			background-color: color.scale(list.nth($value, 1), $lightness: -60%);
		}
	}
}
