<root>
	<styles>
		<include src="file://{resources}/styles/main.scss" />
	</styles>

	<scripts>
		<include src="file://{scripts}/common/dev.ts" />
		<include src="file://{scripts}/pages/settings/page.js" />
		<include src="file://{scripts}/pages/settings/settings.ts" />
		<include src="file://{scripts}/pages/settings/search.js" />
	</scripts>

	<snippets>
		<snippet name="SubNavEntry">
			<RadioButton class="settings-nav__subitem" group="SettingsSubNav">
				<Label class="settings-nav__subitem-label" text="{s:Text}" />
			</RadioButton>
		</snippet>
	</snippets>

	<Panel class="mainmenu__page">
		<Panel class="settings">
			<Panel id="SettingsNav" class="settings__left">
				<Panel class="search settings__search">
					<Image class="search__icon" src="file://{images}/search.svg" texturewidth="64" textureheight="64" />
					<TextEntry
						id="SettingsSearchTextEntry"
						class="textentry search__textentry"
						maxchars="30"
						placeholder="#Settings_General_Search_Prompt"
					/>
					<Button
						id="SettingsSearchClear"
						class="search__clearbutton search__clearbutton--hidden"
						onactivate="SettingsSearch.clearSearch()"
					>
						<Image class="search__clearicon" src="file://{images}/close.svg" texturewidth="64" textureheight="64" />
					</Button>
				</Panel>

				<Panel class="settings-nav">
					<SteamInputAction
						id="SettingsNavLeft"
						actionset="MenuControls"
						action="menu_prev_1"
						separatortext="/"
						controllernumber="1"
						class="settings-nav__glyph settings-nav__glyph__left"
					/>
					<Panel id="SettingsNavInner" class="settings-nav__main">
						<!-- INPUT -->
						<RadioButton
							id="InputSettingsRadio"
							class="settings-nav__item"
							group="SettingsNav"
							onactivate="MainMenuSettings.navigateToTab('InputSettings')"
							selected="true"
						>
							<Label class="settings-nav__item-label" text="#Settings_Input_Title" />
						</RadioButton>

						<Panel class="settings-nav__separator" />

						<!-- AUDIO -->

						<RadioButton
							id="AudioSettingsRadio"
							class="settings-nav__item"
							group="SettingsNav"
							onactivate="MainMenuSettings.navigateToTab('AudioSettings')"
						>
							<Label class="settings-nav__item-label" text="#Settings_Audio" />
						</RadioButton>

						<Panel class="settings-nav__separator" />

						<!-- VIDEO -->

						<RadioButton
							id="VideoSettingsRadio"
							class="settings-nav__item"
							group="SettingsNav"
							onactivate="MainMenuSettings.navigateToTab('VideoSettings')"
						>
							<Label class="settings-nav__item-label" text="#Settings_Video" />
						</RadioButton>

						<Panel class="settings-nav__separator" />

						<!-- INTERFACE -->

						<RadioButton
							id="InterfaceSettingsRadio"
							class="settings-nav__item"
							group="SettingsNav"
							onactivate="MainMenuSettings.navigateToTab('InterfaceSettings')"
						>
							<Label class="settings-nav__item-label" text="#Settings_Interface" />
						</RadioButton>

						<Panel class="settings-nav__separator" />

						<!-- CUSTOMIZATION -->

						<RadioButton
							id="CustomizationSettingsRadio"
							class="settings-nav__item"
							group="SettingsNav"
							onactivate="MainMenuSettings.navigateToTab('CustomizationSettings')"
						>
							<Label class="settings-nav__item-label" text="#Settings_Customization" />
						</RadioButton>
					</Panel>
					<SteamInputAction
						id="SettingsNavRight"
						actionset="MenuControls"
						action="menu_next_1"
						separatortext="/"
						controllernumber="1"
						class="settings-nav__glyph settings-nav__glyph__right"
					/>
				</Panel>
			</Panel>

			<Panel class="settings-nav__subsection">
				<SteamInputAction
					id="SettingsSubNavLeft"
					actionset="MenuControls"
					action="menu_prev_2"
					separatortext="/"
					controllernumber="1"
					class="settings-nav__subsection__glyph settings-nav__subsection__glyph__left"
				/>
				<Panel id="SettingsSubNav" class="settings-nav__subsection__main" />
				<SteamInputAction
					id="SettingsSubNavRight"
					actionset="MenuControls"
					action="menu_next_2"
					separatortext="/"
					controllernumber="1"
					class="settings-nav__subsection__glyph settings-nav__subsection__glyph__right"
				/>
			</Panel>

			<Panel class="settings__horiz">
				<Panel id="SettingsContent" class="settings__pages" />
				<Panel id="SettingsInfo" class="settings__info settings-info">
					<Panel class="settings-info__wrapper">
						<Label id="SettingsInfoTitle" class="settings-info__title" />
						<Label
							id="SettingsInfoMessage"
							html="true"
							loadimages="true"
							loadmovies="true"
							imgscaling="stretch-to-cover-preserve-aspect"
							class="settings-info__description"
						/>
						<Label id="SettingsInfoConvar" html="true" class="settings-info__cvar" />
						<Button id="SettingsInfoDocsButton" class="button hide">
							<Label class="button__text" text="#Settings_General_ViewDocs" />
						</Button>
					</Panel>
				</Panel>
			</Panel>
		</Panel>
	</Panel>
</root>
