@use '../../config' as *;
@use '../../abstract/function';
@use '../../abstract/mixin';

.addon-entry {
	&__left {
		width: 88%;
		flow-children: right;
	}

	&__right {
		flow-children: down;
		horizontal-align: right;
		vertical-align: center;
		margin-right: 28px;
	}

	&__checkbox {
		horizontal-align: right;
		width: 28px;
		height: 28px;
	}

	&__title {
		flow-children: down;
		margin-left: 10px;
		font-size: 20px;
		margin-top: 10px;
	}

	&__source {
		font-size: 16px;
		margin-left: 10px;
		margin-top: 10px;
		font-style: italic;
		color: #aa5555;
	}

	&__desc {
		margin-top: 10px;
		margin-left: 10px;
		color: #999999;
		text-overflow: ellipsis;
		max-height: 24px;
	}

	&__cover {
		width: 128px;
		height: 128px;
	}
}

.addons {
	&__container {
		flow-children: down;
		overflow: scroll;
		width: 100%;
		height: 100%;
	}

	&__side_panel {
		width: 40%;
		height: 95%;
		flow-children: down;
		background-color: #303030AA;
		border-radius: 6px;
		border: 1px solid #303030;
	}

	&__item {
		flow-children: right;
		max-height: 200px;
		width: 100%;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 10px;
		border-radius: 4px;
		&:selected,
		&:hover {
			background-color: #333333FF;
		}
	}

	&__buttons_container {
		horizontal-align: center;
		flow-children: right;
		vertical-align: center;

		>Button {
			background-color: #303030;
			padding: 5px;
			padding-left: 32px;
			padding-right: 32px;
			margin-right: 16px;
			border-radius: 2px;
			vertical-align: center;

			&:hover {
				background-color: $primary-color;
			}
		}
	}

	&__buttons_background {
		width: 100%;
		height: 5%;
		border-radius: 5px;
	}

	&__buttons {
		font-size: 16px;
		border-radius: 2px;
		margin: 10px;
		padding: 2px;
		margin-right: 0px;
		padding-left: 5px;
		padding-right: 5px;
		background-color: #303030;

		&:hover {
			background-color: $primary-color;
		}
	}
}

.addonpanel {
	&__container {
		flow-children: down;
		width: 100%;
		margin-top: 10px;
		margin-left: 25px;
		margin-right: 25px;
	}

	&__title {
		font-size: 48px;
	}

	&__desc-container {
		width: 100%;
		overflow: scroll;
		flow-children: down;
	}

	&__description {
		font-size: 24px;
		margin-top: 10px;
		background-color: #00000088;
		border-radius: 4px;
		text-overflow: ellipsis;
		padding: 10px;

		min-height: 50%;
		width: 100%;
	}

	&__authors {
		font-size: 24px;
		font-style: italic;
	}

	&__section-name {
		font-size: 32px;
		color: #aaaaaa;
		font-style: italic;
		margin-top: 10px;
		border-bottom: 3px solid #888888;
		min-width: 100%;
	}
}
