@use '../../config' as *;
@use '../../abstract/function';
@use '../../abstract/mixin';

.campaigns {
	width: 100%;
	height: 100%;
	flow-children: down;

	&__list {
		width: 50%;
		height: 100%;
		//padding-right: 15px;
		overflow: squish scroll;
		flow-children: down;
	}

	&__action-bar {
		width: 50%;
		flow-children: right;

		//padding-right: 15px;
		margin-bottom: 10px;

		&__button {
			width: fill-parent-flow(0.5);
			flow-children: right;

			padding: 15px;
			background-color: $base-950;
			border: $menu-pane-border;

			&__icon {
				margin-right: 10px;
				vertical-align: middle;
			}
			&__text-top {
				font-weight: bold;
			}

			&__text-btm {
				color: $base-300;
				font-size: 16px;
			}

			&:hover {
				background-color: $button-background-hover;
			}
		}
	}

	&__entry {
		width: 100%;
		height: 198px;

		background-color: $base-950;
		border: $menu-pane-border;
		margin-bottom: 10px;

		$this: &;

		&:hover {
			#{$this}__inner {
				background-color: $button-background-hover;
			}
		}

		&:selected {
			background-color: $primary-800;
		}

		&__inner {
			width: fill-parent-flow(1);
			height: 100%;
			flow-children: right;
			padding: 15px;
			background-color: gradient( linear, 0% 0%, 100% 0%, from( $base-950 ), to( rgba($base-950, 0) ) );
		}

		&__bg-image {
			width: 100%;
			opacity: 0.5;
		}

		&__cover {
			width: 356px;
			height: 200px;
			border: $menu-pane-border;
		}

		&__details {
			flow-children: down;

			margin-left: 30px;
			vertical-align: middle;

			&__logo {
				height: 48px;
				width: 48px;
				vertical-align: bottom;
				margin: 10px;
			}

			&__title {
				@include mixin.font-styles($use-header: true);
				font-size: 20px;
			}

			&__author {
				font-size: 14px;
				letter-spacing: 1px;
			}

			&__desc {
				margin-top: 10px;
				font-size: 16px;
				letter-spacing: 1px;
				color: $base-200;
				max-height: 110px;
			}
		}
	}
}

.selected-campaign {
	width: 100%;
	height: 100%;

	margin: -30px;

	&__container {
		width: 100%;
		height: 100%;
		margin: 30px;

		flow-children: right;
	}

	&__controls {
		width: 35%;
		height: 100%;
		flow-children: down;

		&__button {
			width: 100%;
			height: 64px;
			flow-children: right;

			padding: 0 20px;
			background-color: $base-950;
			border: $menu-pane-border;

			$this: &;

			&__text {
				@include mixin.font-styles($use-header: true);
				color: $bright-color;
				vertical-align: middle;
				font-size: 24px;
			}

			&:disabled {
				background-color: $base-950;
				opacity: 0.5;

				#{$this}__text {
					color: $button-text-disabled;
				}
			}

			&:hover:not(:disabled) {
				background-color: $primary-color;
				border-color: $primary-color;
				
				#{$this}__text {
					color: $base-950;
				}
			}
		}
	}

	&__lister {
		width: 100%;
		height: fit-children;
		flow-children: down;
		overflow: squish scroll;
		&__container {
			width: 65%;
			height: 100%;
			margin-left: 30px;
			border: $menu-pane-border;
			background-color: rgba($base-950, 0.9);
		}
	}

	&__background {
		width: 100%;
		height: 100%;
	}

	&__logo {
		width: 440px;
		height: 130px;
		margin-bottom: 30px;

		horizontal-align: center;
	}

	&__title {
		@include mixin.font-styles($use-header: true);
		font-size: 32px;
	}

	&__authors {
		font-weight: light;
		font-size: 16px;
		color: $base-200;
		letter-spacing: 1px;
	}

	&__description {
		width: 100%;
		height: 100%;

		margin-top: 15px;
		border: $menu-pane-border;

		&__text {
			overflow: squish scroll;
			padding: 15px;
		}
	}
}

.saves {
	&__entry {
		width: 100%;
		height: 288px;

		&__inner {
			@extend .campaigns__entry__inner;
			background-color: none;
			background-image: none;
		}

		&__cover {
			width: 480px;
			height: 270px;

			border: $menu-pane-border;
		}

		&__details {
			@extend .campaigns__entry__details;
			&__title {
				@include mixin.font-styles($use-header: true);
				font-size: 32px;
			}

			&__desc {
				margin-top: 5px;
				font-size: 20px;
				color: $base-200;
			}
		}

		&:hover {
			background-color: $primary-950;
		}
	}
}

.chapters {
	&__entry {
		width: 100%;
		height: 150px;

		&__inner {
			@extend .campaigns__entry__inner;
			background-color: none;
			background-image: none;
		}

		&__cover {
			width: 240px;
			height: 135px;

			border: $menu-pane-border;
		}

		&__details {
			@extend .campaigns__entry__details;
			&__title {
				font-size: 24px;
				color: $base-200;
			}

			&__desc {
				@include mixin.font-styles($use-header: true);
				margin-top: 5px;
				font-size: 32px;
			}
		}

		&:hover {
			background-color: $primary-950;
		}
	}
}
