@use '../../config' as *;
@use '../../abstract/function';
@use '../../abstract/mixin';

.campaigns {
	width: 100%;
	height: 100%;
	flow-children: down;

	border: $menu-pane-border;

	&__list {
		width: 100%;
		height: 100%;
		overflow: squish scroll;
		flow-children: down;

		background-color: $base-950;
	}

	&__entry {
		width: 100%;
		height: fit-children;
		flow-children: right;

		padding: 15px;
		padding-right: 20px;

		&:hover {
			background-color: $primary-950;
		}

		&:selected {
			background-color: $primary-800;
		}

		&__left {
			width: fill-parent-flow(1);
			flow-children: right;
		}

		&__cover {
			width: 640px;
			height: 360px;

			border: $menu-pane-border;
		}

		&__details {
			flow-children: down;

			margin-left: 30px;
			vertical-align: middle;

			&__logo {
				width: 440px;
				height: 130px;
			}

			&__title {
				@include mixin.font-styles($use-header: true);
				font-size: 50px;
				letter-spacing: 4px;
			}

			&__desc {
				margin-top: 5px;
				font-size: 20px;
				color: $base-200;
			}

			&__source {
				visibility: collapse;
			}
		}

		&__right {
		}

		&__checkbox {
			height: 32px;

			margin-left: 10px;
			& > .TickBox {
				margin-right: 0px;
			}
		}
	}
}

.selected-campaign {
	width: 100%;
	height: 100%;

	margin: -30px;

	&__container {
		width: 100%;
		height: 100%;
		margin: 30px;

		flow-children: right;
	}

	&__controls {
		width: 30%;
		height: 100%;
		flow-children: down;

		&__button {
			width: 100%;
			height: 64px;
			flow-children: right;

			padding: 0 20px;
			background-color: $primary-800;

			$this: &;

			&__text {
				@include mixin.font-styles($use-header: true);
				color: $bright-color;
				vertical-align: middle;
				font-size: 24px;
			}

			&:disabled {
				background-color: $base-950;
				border-color: rgba(0, 0, 0, 0);

				#{$this}__text {
					color: $button-text-disabled;
				}
			}

			&:hover:not(:disabled) {
				background-color: $primary-color;
				border-color: $primary-color;
				
				#{$this}__text {
					color: $base-950;
				}
			}
		}
	}

	&__lister {
		width: 100%;
		height: fit-children;
		flow-children: down;
		overflow: squish scroll;
		&__container {
			width: 70%;
			height: 100%;
			margin-left: 30px;
			border: $menu-pane-border;
			background-color: $base-950;
		}
	}

	&__background {
		width: 100%;
		height: 100%;
	}

	&__logo {
		width: 440px;
		height: 130px;
		margin-bottom: 30px;

		horizontal-align: center;
	}

	&__title {
		@include mixin.font-styles($use-header: true);
		font-size: 32px;
	}

	&__authors {
		font-weight: light;
		font-size: 16px;
		color: $base-200;
		letter-spacing: 1px;
	}

	&__description {
		width: 100%;
		height: 100%;

		margin-top: 15px;
		border: $menu-pane-border;

		&__text {
			overflow: squish scroll;
			padding: 15px;
		}
	}
}

.saves {
	&__entry {
		&__cover {
			width: 480px;
			height: 270px;

			border: $menu-pane-border;
		}

		&__details {
			&__title {
				@include mixin.font-styles($use-header: true);
				font-size: 32px;
			}

			&__desc {
				margin-top: 5px;
				font-size: 20px;
				color: $base-200;
			}
		}
	}
}

.chapters {
	&__entry {
		&__cover {
			width: 480px;
			height: 270px;

			border: $menu-pane-border;
		}

		&__details {
			&__title {
				font-size: 24px;
				color: $base-200;
			}

			&__desc {
				@include mixin.font-styles($use-header: true);
				margin-top: 5px;
				font-size: 32px;
			}
		}
	}
}
