@use '../../config' as *;

.player-entry {
    flow-children: right;
    height: fit-children;
	width: 700px;
    margin-bottom: 10px;
    border: 1px solid #555555;
    background-color: #2a2a2a;
    background-image: url("file://{images}/menu/menu_grid6.png");
    background-img-opacity: 0.25;
    background-size: 55% 50%;

    &__empty {
        &__icon {
            width: 96px;
            height: 96px;
        }

        &__text {
            vertical-align: center;
            horizontal-align: center;
            margin: 15px;
        }
    }

    &__avatar {
        width: 96px;
        height: 96px;
        &:hover {
            border: 1px solid $white;
            border-color: $orange;
            background-color: $button-background-hover;

            & > Image {
                opacity: 0.85;
            }
        }
    }

    &__body {
        flow-children: down;

        &__player {
            flow-children: right;
            vertical-align: center;
            margin-top: 10px;
        }

        &__notice {
            margin: 10px 10px 0px 0px;
        }

        &__team-icon {
            margin: 10px;
            vertical-align: center;
            horizontal-align: center;
            border: $menu-pane-border;
            tooltip-position: right;

            & > Button {
                width: 64px;
                height: 64px;
            }
        }

        &__buttons {
            flow-children: down;
            vertical-align: center;
            horizontal-align: right;
        }
    }
}

.lobby-menu {
    flow-children: down;
    width: 100%;
	height: 100%;
    margin: 25px 25px 25px 25px;

    &__base-content {
        flow-children: down;
        width: fill-parent-flow(1);
        height: 880px;

        &__player-list {
            flow-children: down;
            height: 400px;
            margin: 25px 0px 10px 5px;
            padding-right: 15px;
            overflow: squish scroll;
            horizontal-align: left;
        }

        &__management-panel {
            flow-children: down;
            width: 700px;
            height: 900px;
            horizontal-align: left;
            margin: 25px 0px 10px 5px;
            border: $menu-pane-border;
            background-color: $base-950;
            background-image: url('file://{images}/menu/menu_grid6.png');
            background-img-opacity: 0.05;

            &__section {
                flow-children: down;
                width: fill-parent-flow(1);
	            height: fill-parent-flow(1);

                margin-left: 10px;
                margin-right: 10px;

                background-color: $base-gradient-subtle;
                border: $menu-pane-border;
            }

        }
    }

    &__bottom {
        vertical-align: bottom;
        flow-children: right;
    }

}