@use '../../config' as *;

.player-entry {
    flow-children: right;
    height: fit-children;
	width: 800px;
    margin-bottom: 10px;
    border: 1px solid #555555;
    background-color: #2a2a2a;
    background-image: url("file://{images}/menu/menu_grid6.png");
    background-img-opacity: 0.25;
    background-size: 55% 50%;

    &__avatar {
        width: 96px;
        height: 96px;
        &:hover {
            border: 1px solid $white;
            border-color: $orange;
            background-color: $button-background-hover;

            & > Image {
                opacity: 0.85;
            }
        }
    }

    &__body {
        flow-children: down;

        &__player {
            flow-children: right;
            vertical-align: center;
            margin-top: 10px;
        }

        &__notice {
            margin: 10px 10px 0px 0px;
        }

        &__buttons {
            flow-children: right;
            vertical-align: center;
            horizontal-align: right;
            margin: 0px 10px 0px 10px;
        }
    }
}

.lobby-menu {
    flow-children: down;
    width: 100%;
	height: 100%;
    margin: 25px 25px 25px 25px;

    &__player-list {
        flow-children: down;
        height: fill-parent-flow(1);
        margin: 35px 0px 35px 35px;
        overflow: squish scroll;
        horizontal-align: left;
    }

    &__management-panel {
        flow-children: down;
		width: 630px;
		//height: 896px;
        height: fit-children;
		horizontal-align: right;
		margin: 15px;
        border: $menu-pane-border;
        background-color: $base-950;
        background-image: url('file://{images}/menu/menu_grid6.png');
        background-img-opacity: 0.05;

		&__cover {
			width: 384px;
			height: 384px;
			border: $menu-pane-border;
			background-color: black;
			box-shadow: fill rgba($base-950, 0.5) -16px 16px 32px 16px;
		}
		&__title {
			max-width: 460px;
			font-size: 32px;
			font-weight: bold;
			margin-left: 15px;
			text-shadow: 0px 0px 8px 1 #000000;
			max-height: 84px;
			//text-overflow: ellipsis;
		}
    }

    &__bottom {
        vertical-align: bottom;
        flow-children: down;
    }

}