@use '../../config' as *;
@use '../../abstract/function';
@use '../../abstract/mixin';

#TooltipManager,
#ContextMenuManager,
#PopupManager,
.MainMenuRootPanel {
	width: 100%;
	height: 100%;
}

.MainMenuModeOnly {
	visibility: visible;
}

.PauseMenuMode .MainMenuModeOnly {
	visibility: collapse;
}

.PauseMenuModeOnly {
	visibility: collapse;
}

.PauseMenuMode .PauseMenuModeOnly {
	visibility: visible;
}

.CampaignSelectedOnly {
	visibility: collapse;
}

.CampaignSelected .CampaignSelectedOnly {
	visibility: visible;
}

.CampaignSelected .NoCampaignSelectedOnly {
	visibility: collapse;
}

.PauseMenuMode .MainMenuModeOnly.CampaignSelectedOnly {
	visibility: collapse;
}

.mainmenu {
	width: 100%;
	height: 100%;

	&__container,
	&__background {
		width: 100%;
		height: 100%;
	}

	&__pause-blur {
		width: 125%;
		height: 125%;
		saturation: 0.7;
		brightness: 0.4;
		blur: fastgaussian(2,2,2);
		overflow: noclip;
	}

	&__movie {
		width: 1920px;
		height: 1080px;
	}

	&__pause-content-blur {
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.005);
	}

	&__content {
		width: 100%;
		height: 100%;
		max-width: 1920px;
		max-height: 1080px;
	}

	&__devtext {
		margin: 15px;
		horizontal-align: right;
		vertical-align: bottom;
		font-size: 16px;
		color: $base-300;
		font-weight: light;
		letter-spacing: 1px;
		text-shadow: 1px 1px 2px 2 $base-950;
	}

	&__gradient-bar {
		width: 672px;
		height: 100%;
		background-color: gradient( linear, 0% 0%, 100% 0%, from( $base-950 ), to( rgba(0, 0, 0, 0) ) );
		border-left: $menu-pane-border;
		margin: 0 125px;
	}

	&__modelpanel {
		width: 960px;
		height: 100%;
		transform: translateY(-330px);
		opacity: 0.2;
	}

	&__logo {
		width: 440px;
		height: 130px;
		horizontal-align: center;
		img-shadow: 4px 4px 4px 4.0 $base-950;
	}

	&__nav {
		width: 100%;
		vertical-align: center;
		flow-children: down;

		&__controls {
			width: 100%;
			flow-children: down;
			margin: 75px 0;
		}

		&__btn {
			width: 100%;
			min-height: 72px;
			padding-left: 75px;

			&__text {
				@include mixin.font-styles($use-header: true);
				vertical-align: center;
				font-size: 22px;
				margin-right: 15px;
				text-shadow: 2px 2px 2px 2 $base-950;
			}

			&__small-text {
				vertical-align: center;
				font-size: 16px;
				color: $base-300;
				font-weight: light;
				letter-spacing: 1px;
				text-shadow: 1px 1px 2px 2 $base-950;
			}

			&:hover {
				background-color: gradient( linear, 0% 0%, 100% 0%, from( $button-background-hover ), to( rgba(0, 0, 0, 0) ) );
			}

			&__no-gradient {
				&:hover {
					background-color: $button-background-hover;
				}
			}
		}
	}

	&__display-box {
		margin-left: 797px;
		width: 480px;
		flow-children: down;
		border: $menu-pane-border;
		border-color: $button-background-hover;
		vertical-align: center;
		&__img {
			width: 480px;
			height: 270px;
		}
		&__details {
			width: 100%;
			background-color: $base-950;
			border-top: $menu-pane-border;
			border-color: $button-background-hover;
			flow-children: down;
			padding: 15px;
		}
		&__logo {
			width: 64px;
			height: 64px;
			margin: 15px;
		}
		&__head {
			@include mixin.font-styles($use-header: true);
		}
		&__tagline {
			color: $base-300;
			font-weight: light;
			letter-spacing: 1px;
		}
	}

	&__normal-page-container {
		width: 100%;
		height: 100%;
		flow-children: down;
		margin: 30px 0;
		margin-left: 150px;
		margin-right: 30px;
	}

	&__wide-page-container {
		width: 100%;
		height: 100%;
		flow-children: down;
		padding: 30px;
	}

	&__page {
		width: 100%;
		height: 100%;
		flow-children: down;
	}

	&__page-head {
		@include mixin.font-styles($use-header: true);
		font-size: 38px;
		text-shadow: 2px 2px 2px 2 $base-950;
	}

	&__page-tagline {
		font-size: 24px;
		color: $base-300;
		font-weight: light;
		letter-spacing: 1px;
		margin-bottom: 15px;
		text-shadow: 1px 1px 2px 2 $base-950;
	}

	&__page-actions {
		width: 100%;
		margin-top: 15px;
	}

	&__version {
		margin-left: 75px;
	}
}
