@use '../../config' as *;
@use '../../abstract/function';
@use '../../abstract/mixin';

$page-transition-duration: 0.15s;
$page-transition-timing-func: ease-in-out;
$topnav-height: 80px;

#TooltipManager,
#ContextMenuManager,
#PopupManager,
.MainMenuRootPanel {
	width: 100%;
	height: 100%;
}

.MainMenuRootPanel.PopupBackgroundBlur #MainMenuInput {
	blur: gaussian(8, 8, 5);
	-s2-mix-blend-mode: opaque;
}

.MainMenuModeOnly {
	visibility: visible;
}

.MainMenuRootPanel--PauseMenuMode .MainMenuModeOnly {
	visibility: collapse;
}

.PauseMenuModeOnly {
	visibility: collapse;
}

.MainMenuRootPanel--PauseMenuMode .PauseMenuModeOnly {
	visibility: visible;
}

.mainmenu {
	width: 100%;
	height: 100%;

	&__container {
		width: 100%; // counteract blur 125% size
		height: 100%; // counteract blur 125% size
	}

	&__background {
		width: 100%;
		height: 100%;
	}

	&__background-blur {
		width: 100%;
		height: 100%;
		blur: fastgaussian(2, 2, 4);
	}

	&__content-blur {
		// Let this panel clip outside the page so the blur applies all the way to the edges
		// mainmenu__container will constrain all children to 1920x1080
		width: 125%;
		height: 125%;
		overflow: noclip;
	}

	&__pause-blur {
		width: 100%;
		height: 100%;
		blur: fastgaussian(1, 1, 2);
	}

	&__movie {
		height: 1080px;
		width: 100%;
		min-width: 1920px;
		overflow: noclip;
	}

	&__content {
		width: fill-parent-flow(1);
		height: fill-parent-flow(1);
		margin-top: $topnav-height;
	}

	&__home-container {
		margin: 30px;
	}

	&__home-container,
	&__page-container {
		width: 100%;
		height: 100%;
		opacity: 1;
		transition-property: opacity;
		transition-duration: $page-transition-duration;
		transition-timing-function: $page-transition-timing-func;

		&--hidden {
			opacity: 0;
		}
	}

	// BaseBlurTarget needs a translucent background to draw on/over/behind/whatever for some reason
	&__pause-content-blur {
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.005);
	}

	&__page-blur {
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0);
	}

	&__page {
		flow-children: down;
		width: 100%;
		max-width: 2560px;
		height: 100%;
		padding: 30px;
		horizontal-align: middle;

		transition-property: opacity;
		transition-duration: 0s;
		transition-timing-function: ease-in-out;
	}

	&__fadeout {
		animation-name: FadeOut;
		animation-duration: 3s;
		animation-timing-function: ease-out;
		animation-iteration-count: 1;
		opacity: 0;
	}
}

.topnav {
	width: 100%;
	height: $topnav-height;

	padding-left: 25px;
	flow-children: right;
	background-color: $base-950;
	border-bottom: $menu-pane-border;
	z-index: 1;

	&__logo {
		height: 55%;
		vertical-align: middle;
		margin-right: 25px;
	}

	&__button {
		width: fit-children;
		height: 100%;

		vertical-align: middle;
		flow-children: right;
		padding: 0 25px;

		border: 5px solid rgba(0, 0, 0, 0);
		border-left-width: 0px;
		border-right-width: 0px;

		& .RadioBox {
			visibility: collapse;
		}

		&__content {
			height: 100%;
			flow-children: right;
			horizontal-align: middle;
		}

		& .text {
			@include mixin.font-styles($use-header: true);
			vertical-align: center;
			font-size: 20px;
			// overflowing because of tags, so not putting this
			// here for now, just reducing the size a bit - SS
			//text-overflow: shrink;
		}

		$this: &;
		&:hover:not(:selected) {
			background-color: $primary-color;
			border-bottom-color: $primary-800;

			#{$this}__content {
				wash-color: $base-color;
			}
		}

		&:selected {
			background-color: $primary-950;
			border-bottom-color: $primary-color;

			#{$this}__content {
				wash-color: $primary-color;
			}
		}
	}

	&__icon {
		height: 50%;
		width: height-percentage(100%);

		visibility: collapse;
		vertical-align: middle;
		horizontal-align: center;
		color: $bright-color;
		opacity: 1;
	}

	&__home,
	&__button {
		&:hover {
			sound: 'UIPanorama.ButtonRollover';
		}
		&:selected {
			sound: 'UIPanorama.ButtonPress';
		}
	}
}

.home {
	width: 50%;
	height: 100%;
	flow-children: down;

	$root: &;

	&__horizontal {
		width: 100%;
		flow-children: right;
	}

	&__prompt {
		height: 192px;
		width: fill-parent-flow(1);

		border: $menu-pane-border;
		background-color: $base-950;

		$this: &;

		&__short {
			height: 64px;
			width: 100%;

			&__content {
				width: 100%;
				height: 100%;
				vertical-align: middle;
				flow-children: down;

				padding: 0 15px;
				background-color: rgba($base-950, 0.9);

				& > Label {
					vertical-align: middle;
				}
			}
		}

		&__image {
			width: 100%;
		}

		&__gradient {
			width: 100%;
			height: 100%;
			background-color: gradient(linear, 0% 0%, 0% 100%, from(rgba(0, 0, 0, 0)), to($base-950));
		}

		&__content {
			width: 100%;
			flow-children: down;

			vertical-align: bottom;
			padding: 15px;
		}

		&:disabled {
			border-color: $button-background-disabled;

			#{$this}__image {
				saturation: 0;
			}

			#{$this}__content {
				background-color: rgba($button-background-disabled, 0.8);

				& > Label {
					color: $button-text-disabled;
					text-shadow-fast: 1px 1px rgba($base-950, 0);
				}
			}
		}

		&:hover:not(:disabled) {
			border-color: $primary-color;

			#{$this}__gradient {
				background-color: gradient(
					linear,
					0% 0%,
					100% 0%,
					from(rgba($button-background-hover, 0.25)),
					to(rgba(0, 0, 0, 0))
				);
				//background-color: gradient( linear, 0% 0%, 0% 200%, from( rgba(0, 0, 0, 0) ), to( $primary-color ) );
			}
		}
	}

	&__spacer {
		&__v {
			height: 10px;
		}
		&__h {
			width: 10px;
		}
	}

	&__heading {
		@include mixin.font-styles($use-header: true);
		width: 100%;
		font-size: 22px;
		text-shadow: 2px 2px 4px 2 $base-950;
	}

	&__subheading {
		width: 100%;
		font-size: 18px;
		color: $base-200;
		text-shadow: 2px 2px 4px 2 $base-950;
	}

	&__modelpanel {
		width: fill-parent-flow(1);
		margin: 30px;
		max-width: 896px;
		height: 100%;
		horizontal-align: left;
		vertical-align: center;

		opacity: 1;
		blur: gaussian(0, 0, 0);

		&--hidden {
			opacity: 0;
			transform: translateY(300px);
			blur: gaussian(10, 10, 4);
		}
	}

	&__bottom {
		width: 100%;
		vertical-align: bottom;
		flow-children: down;
	}
}
