@use '../../config' as *;
@use '../../abstract/function';
@use '../../abstract/mixin';

$page-transition-duration: 0.15s;
$page-transition-timing-func: ease-in-out;

#TooltipManager,
#ContextMenuManager,
#PopupManager,
.MainMenuRootPanel {
	width: 100%;
	height: 100%;
}

.MainMenuRootPanel.PopupBackgroundBlur #MainMenuInput {
	blur: gaussian(8, 8, 5);
	-s2-mix-blend-mode: opaque;
}

.MainMenuModeOnly {
	visibility: visible;
}

.MainMenuRootPanel--PauseMenuMode .MainMenuModeOnly {
	visibility: collapse;
}

.PauseMenuModeOnly {
	visibility: collapse;
}

.MainMenuRootPanel--PauseMenuMode .PauseMenuModeOnly {
	visibility: visible;
}

$topnav-height: 90px;
$rightnav-width: 50px;
$drawer-width: 768px;

.mainmenu {
	width: 100%;
	height: 100%;

	&__container {
		width: 100%; // counteract blur 125% size
		height: 100%; // counteract blur 125% size
	}

	&__background {
		width: 100%;
		height: 100%;
	}

	&__background-blur {
		width: 100%;
		height: 100%;
		blur: fastgaussian(2, 2, 4);
	}

	&__content-blur {
		// Let this panel clip outside the page so the blur applies all the way to the edges
		// mainmenu__container will constrain all children to 1920x1080
		width: 125%;
		height: 125%;
		overflow: noclip;
		blur: fastgaussian(8, 8, 5);
	}

	&__pause-blur {
		width: 100%;
		height: 100%;
		blur: fastgaussian(1, 1, 2);
	}

	&__movie {
		height: 1080px;
		width: 100%;
		min-width: 1920px;
		overflow: noclip;
	}

	&__content {
		width: fill-parent-flow(1);
		height: fill-parent-flow(1);
		margin-top: $topnav-height;
	}

	&__home-container,
	&__page-container {
		width: 100%;
		height: 100%;
		opacity: 1;
		transition-property: opacity;
		transition-duration: $page-transition-duration;
		transition-timing-function: $page-transition-timing-func;

		&--hidden {
			opacity: 0;
		}
	}

	// BaseBlurTarget needs a translucent background to draw on/over/behind/whatever for some reason
	&__pause-content-blur {
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.005);
	}

	&__page-blur {
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.875);
	}

	&__page {
		flow-children: down;
		width: 100%;
		max-width: 2560px;
		height: 100%;
		padding: 30px;
		horizontal-align: middle;

		transition-property: opacity;
		transition-duration: 0s;
		transition-timing-function: ease-in-out;
	}

	&__fadeout {
		animation-name: FadeOut;
		animation-duration: 3s;
		animation-timing-function: ease-out;
		animation-iteration-count: 1;
		opacity: 0;
	}
}

.topnav {
	flow-children: right;
	height: $topnav-height;
	width: 100%;
	//background-color: function.gradient-vertical(rgba(51, 51, 51, 0.3), rgba(20, 20, 20, 0.3));
	background-color: #202020;
	z-index: 1;

	&__home {
		height: 100%;
		vertical-align: middle;
		background-color: rgba(255, 255, 255, 0);
		transition: background-color 0.2s ease-in-out 0s;
		transition-property: opacity, background-color;
		transition-duration: 0.2s;
		transition-timing-function: ease-in-out;

		&:hover {
			background-color: function.gradient-radial-button(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.2));
			box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
		}

		.RadioBox {
			visibility: collapse;
		}
	}

	&__logo {
		height: 90px;
		margin: 0px 10px;
		vertical-align: middle;
	}

	&__button {
		height: 60%;
		vertical-align: middle;
		padding: 8px;
		padding-left: 16px;
		padding-right: 16px;
		margin-right: 12px;
		background-color: #303030;
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
		flow-children: right;

		border-radius: 32px;

		transition-property: background-color, box-shadow;
		transition-duration: 0.1s;
		transition-timing-function: ease-out;

		& .RadioBox {
			visibility: collapse;
		}

		& .text {
			vertical-align: center;
			font-size: 24px;
			margin-left: 12px;
		}

		$this: &;
		&:hover {
			background-color: $primary-color;
			box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.35);

			&:disabled {
				background-color: function.gradient-radial-button(rgba(75, 75, 75, 0.25), rgba(83, 83, 83, 0.21));
			}

			#{$this}__icon {
				opacity: 1;
			}

			#{$this}__text {
				color: #202020;
			}
		}

		&:selected {
			background-color: $primary-color;
			box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);

			#{$this}__icon {
				opacity: 1;
			}

			#{$this}__text {
				color: #202020;
			}
		}
	}

	&__icon {
		width: height-percentage(100%);
		height: 60%;
		vertical-align: middle;
		horizontal-align: center;
		color: white;
		opacity: 0.85;
		img-shadow: 0px 0px 4px 0 rgba(0, 0, 0, 0.4);
		transition-property: opacity;
		transition-duration: 0.1s;
		transition-timing-function: ease-in;
	}

	&__home,
	&__button {
		&:hover {
			sound: 'UIPanorama.ButtonRollover';
		}
		&:selected {
			sound: 'UIPanorama.ButtonPress';
		}
	}

	&__shadow {
		z-index: 1;
		margin-top: $topnav-height;
		width: 100%;
		height: 20px;
		opacity: 0.8;
		border-top: 1px solid rgba(0, 0, 0, 0.5);
		background-color: gradient(
			linear,
			0% 100%,
			0% 0%,
			from(rgba(0, 0, 0, 0)),
			color-stop(0.5, rgba(0, 0, 0, 0.275)),
			to(rgba(0, 0, 0, 0.8))
		);
	}
}

.home {
	&__wrapper {
		width: 100%;
		max-width: 2560px;
		height: 100%;
		horizontal-align: middle;
		flow-children: right;
	}

	&__newspanel {
		margin: 24px;
		background-color: rgba(0, 0, 0, 0.6);
	}

	&__modelpanel {
		width: fill-parent-flow(1);
		max-width: 700px;
		height: 100%;
		horizontal-align: middle;
		vertical-align: middle;

		opacity: 1;
		blur: gaussian(0, 0, 0);
		transition-property: opacity, blur, pre-transform-scale2d, transform;
		transition-duration: 0.15s;
		transition-timing-function: ease-in-out;

		&--hidden {
			opacity: 0;
			transform: translateY(300px);
			blur: gaussian(10, 10, 4);
			pre-transform-scale2d: 0.8;
			transition-delay: 0.1s;
			transition-duration: 0.25s;
		}
	}

	&__bottombar {
		flow-children: right;
		horizontal-align: left;
		vertical-align: bottom;
	}

	&--hidden {
		visibility: collapse;
	}
}

.bottombar {
	$root: &;
	margin: 24px;
	width: 100%;

	&__button {
		width: 60px;
		height: width-percentage(100%);
		margin: 0 2px;
		transition-property: transform;
		transition-timing-function: ease-in-out;
		transition-duration: 0.2s;

		&:hover {
			transform: translateY(-6px);
		}
	}

	&__icon {
		width: 100%;
		height: width-percentage(100%);
		padding: 8px;
		vertical-align: middle;

		opacity: 0.8;

		transition-property: opacity, img-shadow;
		transition-timing-function: ease-out;
		transition-duration: 0.2s;
		img-shadow: 0 0 16px 2 black;

		#{$root}__button:hover & {
			opacity: 1;
			img-shadow: 0 0 24px 2 $orange;
		}
	}

	&__text {
		align: center center;
		text-align: center;
		overflow: squish;
		text-overflow: shrink;
		@include mixin.font-styles($use-header: true);
	}

	&__notice {
		text-align: center;
		vertical-align: center;
		horizontal-align: right;
		overflow: squish;
		font-size: 32px;
		text-shadow: 1px 2px 2px black;
	}

	&__tooltip {
		tooltip-position: top;
		tooltip-arrow-position: 50% 50%;
		tooltip-body-position: 50% 50%;
	}
}
