@use '../../config' as *;
@use '../../abstract/function';
@use '../../abstract/mixin';

#TooltipManager,
#ContextMenuManager,
#PopupManager,
.MainMenuRootPanel {
	width: 100%;
	height: 100%;
}

.MainMenuModeOnly {
	visibility: visible;
}

.MainMenuRootPanel--PauseMenuMode .MainMenuModeOnly {
	visibility: collapse;
}

.PauseMenuModeOnly {
	visibility: collapse;
}

.MainMenuRootPanel--PauseMenuMode .PauseMenuModeOnly {
	visibility: visible;
}

.mainmenu {
	width: 100%;
	height: 100%;

	&__container,
	&__background {
		width: 100%;
		height: 100%;
	}

	&__pause-blur {
		width: 125%;
		height: 125%;
		saturation: 0.4;
		blur: fastgaussian(2,2,2);
		overflow: noclip;
	}

	&__movie {
		width: 1920px;
		height: 1080px;
	}

	&__pause-content-blur {
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.005);
	}

	&__content {
		width: 100%;
		height: 100%;
		max-width: 1920px;
		max-height: 1080px;
	}

	&__gradient-bar {
		width: 672px;
		height: 100%;
		background-color: gradient( linear, 0% 0%, 100% 0%, from( $base-950 ), to( rgba($base-300, 0) ) );
		border-left: $menu-pane-border;
		margin: 0 125px;
	}

	&__logo {
		horizontal-align: center;
	}

	&__nav {
		width: 100%;
		vertical-align: center;
		flow-children: down;

		&__controls {
			width: 100%;
			flow-children: down;
			margin: 75px 0;
		}

		&__btn {
			width: 100%;
			min-height: 72px;
			padding-left: 75px;

			&__text {
				@include mixin.font-styles($use-header: true);
				vertical-align: center;
				font-size: 22px;
				margin-right: 15px;
				text-shadow: 2px 2px 2px 2 $base-950;
			}

			&__small-text {
				vertical-align: center;
				font-size: 16px;
				color: $base-300;
				font-weight: light;
				letter-spacing: 1px;
				text-shadow: 1px 1px 2px 2 $base-950;
			}

			&:hover {
				background-color: gradient( linear, 0% 0%, 100% 0%, from( $button-background-hover ), to( rgba(0, 0, 0, 0) ) );
			}
		}
	}

	&__normal-page-container {
		width: 100%;
		height: 100%;
		flow-children: down;
		margin: 30px 0;
		margin-left: 150px;
		margin-right: 30px;
	}

	&__wide-page-container {
		width: 100%;
		height: 100%;
		flow-children: down;
		padding: 30px;
	}

	&__page {
		width: 100%;
		height: 100%;
		flow-children: down;
	}

	&__page-head {
		@include mixin.font-styles($use-header: true);
		font-size: 38px;
		text-shadow: 2px 2px 2px 2 $base-950;
	}

	&__page-tagline {
		font-size: 24px;
		color: $base-300;
		font-weight: light;
		letter-spacing: 1px;
		margin-bottom: 15px;
		text-shadow: 1px 1px 2px 2 $base-950;
	}

	&__page-actions {
		width: 100%;
		margin-top: 15px;
	}

	&__version {
		margin-left: 75px;
	}
}
