@use '../../config' as *;
@use '../../abstract/function';
@use '../../abstract/mixin';

$pane-move-time: 0.1s;

@keyframes RotateFull {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#TooltipManager,
#ContextMenuManager,
#PopupManager,
.MainMenuRootPanel {
	width: 100%;
	height: 100%;
}

.MainMenuModeOnly {
	visibility: visible;
}

.PauseMenuMode .MainMenuModeOnly {
	visibility: collapse;
}

.PauseMenuModeOnly {
	visibility: collapse;
}

.PauseMenuMode .PauseMenuModeOnly {
	visibility: visible;
}

.CampaignSelectedOnly {
	visibility: collapse;
}

.CampaignSelected .CampaignSelectedOnly {
	visibility: visible;
}

.CampaignSelected .NoCampaignSelectedOnly {
	visibility: collapse;
}

.PauseMenuMode .MainMenuModeOnly.CampaignSelectedOnly {
	visibility: collapse;
}

.loading-indicator {
	horizontal-align: right;
	vertical-align: bottom;
	padding: 12px 14px;
	margin: 15px;
	margin-right: 16px;
	color: white;
	background-color: black;
	font-size: 16px;
	border-radius: 6px;
	font-family: Verdana;
}

.mainmenu {
	width: 100%;
	height: 100%;

	&__container,
	&__background {
		width: 100%;
		height: 100%;
	}

	&__pause-blur {
		width: 125%;
		height: 125%;
		saturation: 1;
		brightness: 1;
		blur: fastgaussian(2, 2, 2);
		overflow: noclip;

		transition:
			saturation 0.2s ease-out 0s,
			brightness 0.2s ease-out 0s;

		&__anim {
			saturation: 0.7;
			brightness: 0.4;
		}
	}

	// this should be similar to pause blur
	// and extend out of the container and be clipped back
	// but for some reason it's behaving differently and
	// i can't figure out why
	&__switcher-blur {
		width: 100%;
		height: 100%;
	}

	&__movie {
		width: 1920px;
		height: 1080px;
	}

	&__pause-content-blur {
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.005);
	}

	&__content {
		width: 100%;
		height: 100%;
		max-width: 1920px;
		horizontal-align: center;
		transform: translateX(0px);
		opacity: 1;

		&__t-prop {
			transition:
				transform 0.1s ease-out 0s,
				opacity 0.1s ease-out 0s;
		}

		&__anim {
			transform: translateX(-50px);
			opacity: 0;
		}
	}

	&__devtext {
		margin: 15px;
		font-size: 16px;
		color: $base-300;
		font-weight: light;
		letter-spacing: 1px;
		text-shadow: 1px 1px 2px 2 $base-950;
		horizontal-align: right;
		vertical-align: bottom;
	}

	&__gradient-bar {
		width: 672px;
		height: 100%;
		background-color: gradient(linear, 0% 0%, 100% 0%, from($base-950), to(rgba(0, 0, 0, 0)));

		// murdered bc JJ doesn't like it sadge :(
		// transform: translateX(125px);
		// transition: transform $pane-move-time ease-out 0s;
		// &__anim {
		// 	transform: translateX(0px);
		// }

		&__grid1 {
			vertical-align: top;
			horizontal-align: left;
			transform: scaleY(-1) translateX(-1px) translateY(-1px);
			opacity: 0.25;
		}

		&__grid2 {
			vertical-align: bottom;
			horizontal-align: left;
			transform: translateX(-1px) translateY(1px);
			opacity: 0.25;
		}
	}

	&__modelpanel {
		width: 960px;
		height: 100%;
		transform: translateX(-30px);
		horizontal-align: right;
		vertical-align: center;
		opacity: 0;
	}

	&__logo {
		width: 540px;
		height: 130px;
		horizontal-align: center;
		img-shadow: 0px 0px 100px 4 $base-950;
	}

	&__cooltext {
		width: 440px;
		height: 130px;
		horizontal-align: center;
		img-shadow: 0px 0px 100px 4 $base-950;
		visibility: collapse;
	}

	&__nav {
		width: 100%;
		vertical-align: center;
		flow-children: down;

		opacity: 1;
		transform: translateX(0px);
		blur: gaussian(0, 0, 0);

		transition:
			transform calc($pane-move-time * 1.5) ease-out 0s,
			opacity $pane-move-time ease-in-out 0s,
			blur calc($pane-move-time * 2) ease-in-out 0s;

		&__anim {
			opacity: 0;
			transform: translateX(-50px);
			blur: gaussian(10, 10, 2);
		}

		&__top {
			horizontal-align: center;
			overflow: noclip;
		}

		&__controls {
			width: 100%;
			flow-children: down;
			vertical-align: center;

			&__wrapper {
				width: 100%;
				min-height: 504px;
				margin: 50px 0;
			}
		}

		&__btn {
			width: 100%;
			min-height: 65px;
			padding-left: 75px;
			margin: 2px 0;

			$this: &;

			&__text {
				@include mixin.font-styles($use-header: true);
				vertical-align: center;
				font-size: 20px;
				margin-right: 15px;
				//text-shadow: 2px 2px 2px 2 $base-950;
			}

			&__small-text {
				vertical-align: center;
				font-size: 14px;
				color: $base-300;
				font-weight: light;
				letter-spacing: 1px;
				//text-shadow: 1px 1px 2px 2 $base-950;
			}

			&:hover:not(:disabled),
			.InputController &:focus:not(:disabled) {
				animation: OpacityFlicker 3s linear 0s infinite normal forwards;
				background-color: gradient(
					linear,
					0% 0%,
					100% 0%,
					from($button-background-hover),
					to(rgba(0, 0, 0, 0))
				);

				#{$this}__text,
				#{$this}__small-text {
					//text-shadow: none;
				}
			}

			&__no-gradient {
				&:hover:not(:disabled) {
					background-color: $button-background-hover;
				}
			}

			&:disabled {
				opacity: 0.5;

				#{$this}__text,
				#{$this}__small-text {
					color: $base-500;
				}
			}
		}
	}

	&__featured {
		$this: &;

		&__button {
			border: $menu-pane-border;
			width: 512px;
			height: 160px;
			vertical-align: bottom;
			horizontal-align: center;
			background-color: $base-950;
			margin-bottom: 50px;

			.InputController &:focus,
			&:hover {
				border-color: $primary-color;
				background-color: $button-background-hover;

				#{$this}__image {
					opacity: 0.9;
				}

				#{$this}__overlay {
					background-color: gradient(linear, 0% 100%, 0% 0%, from($primary-950), to(rgba(0, 0, 0, 0)));
				}
			}
		}

		&__image {
			height: 100%;
			width: 100%;
		}

		&__overlay {
			width: 100%;
			height: 100%;
			background-color: gradient(linear, 0% 100%, 0% 0%, from($base-950), to(rgba(0, 0, 0, 0)));
		}

		&__content {
			width: 100%;
			vertical-align: bottom;
			flow-children: right;
			padding: 10px;

			&__avatar {
				width: 48px;
				height: 48px;
				margin-right: 10px;
				background-color: $base-950;
				border: $menu-pane-border;
			}

			&__header {
				@include mixin.font-styles($use-header: true);
				font-size: 18px;
				text-shadow: 2px 2px 2px 2 $base-950;
			}

			&__subheader {
				font-size: 14px;
				letter-spacing: 1px;
				text-shadow: 1px 1px 4px 2 $base-950;
				font-weight: light;
				color: $base-200;
			}
		}
	}

	&__display-box {
		margin-left: 672px;
		width: 480px;
		flow-children: down;
		border: $menu-pane-border;
		border-color: $button-background-hover;
		vertical-align: center;
		&__img {
			width: 480px;
			height: 270px;
		}
		&__details {
			width: 100%;
			height: 94px;
			background-color: $base-950;
			background-image: url('file://{images}/menu/menu_grid4.png');
			background-repeat: no-repeat;
			background-position: right top;
			background-img-opacity: 0.1;
			border-top: $menu-pane-border;
			border-color: $button-background-hover;
			flow-children: down;
		}
		&__logo {
			width: 64px;
			height: 64px;
			margin: 15px;
		}
		&__head {
			@include mixin.font-styles($use-header: true);
			font-size: 20px;
		}
		&__tagline {
			color: $base-300;
			font-weight: light;
			letter-spacing: 1px;
			font-size: 16px;
		}
	}

	&__page-bg {
		width: 100%;
		height: 100%;
		background-color: gradient(linear, 0% 0%, 100% 0%, from($base-950), to(rgba(0, 0, 0, 0)));
	}

	&__normal-page-container {
		width: 100%;
		height: 100%;
		max-height: 2160px;
		flow-children: down;
		padding: 30px;
	}

	&__page-insert {
		width: 100%;
		height: fill-parent-flow(1);
	}

	&__page {
		width: 100%;
		height: 100%;
		flow-children: down;

		opacity: 0;
		transform: translateX(125px);
		blur: gaussian(10, 10, 2);

		transition:
			transform calc($pane-move-time * 1.5) ease-out 0s,
			opacity $pane-move-time ease-in-out 0s,
			blur calc($pane-move-time * 2) ease-in-out 0s;

		&__anim {
			opacity: 1;
			transform: translateX(0px);
			blur: gaussian(0, 0, 0);
		}

		&__back-anim {
			opacity: 0;
			transform: translateX(-125px);
		}
	}

	&__page-controls {
		opacity: 0;
		transform: translateX(50px);
		blur: gaussian(10, 10, 2);

		// TODO: Use keyframe anims
		//animation: MainMenuFlash 0.2s ease-in-out 0s 1 normal forwards;

		&__t-prop {
			transition:
				transform calc($pane-move-time * 2) ease-out 0s,
				opacity $pane-move-time ease-in-out 0s,
				blur calc($pane-move-time * 2.5) linear 0s;
		}

		&__anim {
			opacity: 1;
			transform: translateX(0px);
			blur: gaussian(0, 0, 0);
		}

		&__flash {
			blur: gaussian(10, 10, 2);
		}
	}

	&__page-head {
		@include mixin.font-styles($use-header: true);
		font-size: 38px;
		text-shadow: 2px 2px 2px 2 $base-950;
	}

	&__page-tagline {
		font-size: 24px;
		color: $base-300;
		font-weight: light;
		letter-spacing: 1px;
		margin-bottom: 15px;
		text-shadow: 1px 1px 2px 2 $base-950;
	}

	&__page-actions {
		width: 100%;
		margin-top: 15px;
		&__button {
			height: 32px;
			width: 94px;
			& Label {
				font-size: 16px;
				transform: translateY(0px);
			}
		}
	}

	&__version {
		horizontal-align: right;
		margin: 15px;
	}
}
