@use '../../config' as *;
@use '../../abstract/function';
@use '../../abstract/mixin';

.home {
	&__news {
		width: 100%;
		height: 192px;

		flow-children: right;

		&__pips {
			width: 32px;
			vertical-align: center;
			flow-children: down;
			margin-right: 10px;

			&__entry {
				width: 32px;
				height: 32px;
				margin: 2px 0;
				//border: $menu-pane-border;
				//border-radius: 16px;

				background-image: url('file://{images}/menu/indicator_inactive.png');
				background-position: center;
				background-repeat: no-repeat;
				background-size: 125%;

				& .RadioBox {
					visibility: collapse;
				}

				&:hover:not(:selected) {
					background-image: url('file://{images}/menu/indicator_off.png');
				}

				&:selected {
					background-image: url('file://{images}/menu/indicator_on.png');
					//background-color: $primary-700;
				}
			}
		}

		&__content {
			width: fill-parent-flow(1);
			height: 100%;

			border: $menu-pane-border;
			background-color: $base-950;

			$this: &;

			&__container {
				height: 100%;
				flow-children: right;
				
				padding: 15px;
				background-color: gradient(linear, 0% 0%, 95% 0%, from(rgba(0, 0, 0, 0)), to($base-950));
			}

			&__bg-image {
				width: 100%;
				height: 100%;
				opacity: 0.2;
			}

			&__image {
				width: 384px;
				height: 100%;

				border: $menu-pane-border;

				margin-right: 22px;
			}

			&__details {
				width: fill-parent-flow(1);

				vertical-align: center;
				flow-children: down;

				&__header {
					@include mixin.font-styles($use-header: true);
					font-size: 20px;
					margin-bottom: 2px;
					text-shadow: 2px 2px 4px 2 $base-950;
				}

				&__desc {
					font-size: 16px;
					color: $base-200;
					text-shadow: 1px 1px 6px 3 $base-950;
				}
			}

			&:hover {
				border-color: $primary-color;

				#{$this}__container {
					background-color: $button-background-hover;
				}

				#{$this}__image {
					border-color: $primary-color;
				}

				#{$this}__details {
					&__header,
					&__desc {
						text-shadow: none;
					}
				}
			}
		}
	}
}
