@use '../config' as *;
@use '../abstract/function';
@use '../abstract/mixin';

.closecaptions {
	&__outer {
		background-color: rgba(0, 0, 0, 0.75);
		opacity: 0;
		border-radius: 5px;
		horizontal-align: center;
		vertical-align: bottom;
		margin-bottom: 10%;
		flow-children: down;
		padding: 15px 25px;
		width: 1152px;
		transition:
			opacity 0.25s ease-in-out 0s,
			height 0.25s ease-in-out 0s;

		.MainMenu & {
			margin-bottom: 12%;
			horizontal-align: right;
			background-color: rgba(0, 0, 0, 0.9);
			margin-right: 15px;
		}
	}

	&__inner {
		horizontal-align: center;
		vertical-align: bottom;
		margin-bottom: 10%;
		flow-children: down;
		padding: 15px 25px;
		height: fit-children;

		.MainMenu & {
			margin-bottom: 12%;
			horizontal-align: right;
			margin-right: 15px;
		}
	}

	&__text {
		margin: 2px 0px;
		vertical-align: center;
		font-size: 20px;
		font-family: 'GorDIN';
		line-height: 24px;
		transition:
			opacity 0.25s ease-in-out 0s,
			height 0.25s linear 0s;
		transform-origin: 0% 100%;
		height: 0px;
		opacity: 0;
		.MainMenu & {
			horizontal-align: right;
		}
	}

	&__dummy {
		opacity: 1;
		height: 0px;
		transition: height 0.25s ease-in-out 0s;
	}
}
