@use '../config' as *;

.health {
	margin: 15px;
	margin-left: 50px;
	flow-children: right;
	height: 80px;
	width: 220px;
	align: center top;
	background-color: $hl2-bg;
	border-radius: 10px;

	&__label {
		color: $hl2-yellow;
		font-family: $font-halflife2-hud;
		font-size: 14px;
		vertical-align: bottom;
		margin-left: 15px;
		margin-bottom: 15px;
	}

	&__hp {
		color: $hl2-yellow;
		font-family: $font-halflife2;
		font-size: 56px;
		horizontal-align: center;
		vertical-align: center;
	}
}
