@use '../config' as *;

.save-indicator {
	margin: 22px;
	flow-children: right;
	height: 90px;
	width: fit-children;

	&__label {
		color: $bright-color;
		font-size: 30px;

		// Alternate style that matches Portal 2
		// color: #dddddd;
		// font-family: 'Univers LT Std 57 Cn';
		// font-size: 34px;
		
		vertical-align: center;
		margin-left: 12px;
	}

	& > AnimatedImageStrip {
		width:height-percentage(100%);
		height: 100%;
	}

	// Temporary to prevent overlapping with VGUI version!!! Remove this!!!
	margin-top: 120px;
}
