@use '../config' as *;
@use '../abstract/function';
@use '../abstract/mixin';

.card {
	width: fill-parent-flow(1);
	height: fill-parent-flow(1);
	vertical-align: center;

	background-color: $base-950;
	border: $menu-pane-border;

	$this: &;

	&__occupy {
		flow-children: down;
	}

	&__image {
		width: 100%;
		height: fill-parent-flow(1);
	}

	&__avatar {
		margin: 5px;
		width: 96px;
		height: 96px;
		background-color: $base-950;
		border: $menu-pane-border;
	}

	&__status {
		horizontal-align: right;
		margin: 5px;
		padding: 5px 15px;
		padding-bottom: 4px;
		background-color: $button-background-hover;
		border-width: 1px;
		border-style: solid;
		border-color: $primary-color;

		&__text {
			@include mixin.font-styles($use-header: true);
		}
	}

	&__details {
		width: 100%;
		vertical-align: bottom;
		flow-children: down;

		padding: 15px;
		background-color: gradient(linear, 100% 0%, 0% 0%, from(rgba($base-950, 0.9)), to($base-950));
		border-top: $menu-pane-border;

		&__no-bg {
			background-color: rgba(0, 0, 0, 0);
			border-color: rgba(0, 0, 0, 0);
		}

		&__header {
			@include mixin.font-styles($use-header: true);
			font-size: 20px;
			text-shadow: 2px 2px 4px 2 $base-950;

			&__dark {
				color: $base-950;
				text-shadow: none;
			}
		}

		&__subheader {
			color: $base-200;
			font-size: 14px;
			letter-spacing: 1px;
			text-shadow: 1px 1px 8px 2 $base-950;
		}
	}

	&:hover,
	&:focus {
		background-color: $button-background-hover;
		border-color: $primary-color;

		#{$this}__image {
			opacity: 0.9;
		}

		#{$this}__avatar {
			border-color: $primary-color;
		}

		#{$this}__details {
			background-color: $button-background-hover;
			border-color: $primary-color;

			&__header,
			&__subheader {
				text-shadow: none;
			}
		}
	}
}

.minor-cards-row {
	height: 320px;
	width: 100%;
	flow-children: right;
}
