@use '../config' as *;

// rangecolordisplay has its own layouting for this component
:not(.rangecolordisplay) > .colordisplay {
	height: $colordisplay-height;
	width: 100%;
	padding: $colordisplay-padding;
	flow-children: right;
	vertical-align: middle;

	&__title {
		vertical-align: middle;
		width: fill-parent-flow(1);
		margin-right: $colordisplay-title-margin;
	}

	&__display {
		vertical-align: middle;
		width: fill-parent-flow(1);
		height: $colordisplay-color-height;
		border-radius: $colordisplay-color-radius;
		margin-left: $colordisplay-color-margin;
		background-image: url('file://{materials}/panorama/transparency-checkerboard.vtf');
		background-img-opacity: 0;

		&:hover {
			box-shadow: $colordisplay-color-hover-shadow;
		}
	}

	&__hexentry {
		width: $colordisplay-hex-width;
		margin-left: $colordisplay-hex-margin;
		horizontal-align: right;
	}
}
