@use '../config' as *;

.colorpicker {
	// Width behaves very strangely here. The plane height 100% attempts to take up over 1000px, I have no idea why.
	// Hardcode that and this panel still takes about 100px too much width. WTF is going on here?
	width: 1024px;
	padding: 16px;
	flow-children: right;
	height: fit-children;

	&__plane {
		height: 512px;
		width: 512px;
		border-radius: 1px;
		margin-right: 10px;
	}

	&__axis {
		height: 512px;
		width: height-percentage(8%);
		border-radius: 1px;
		margin-right: 10px;
	}

	&__right {
		width: fill-parent-flow(1);
		vertical-align: center;
		flow-children: down;
		margin-left: 20px;
	}

	&__entry {
		width: 100%;
		flow-children: right;
		margin-bottom: 5px;
	}

	&__numberentry {
		width: fill-parent-flow(1);
	}

	&__right-item {
		width: 100%;
	}

	&__textentry {
		width: fill-parent-flow(1);
	}

	&__label {
		vertical-align: middle;
		margin-right: 12px;
		width: 16px;
		font-weight: bold;
	}

	&__color-target {
		height: 32px;
		width: fill-parent-flow(1);
		border: $menu-pane-border;
	}

	&__action-button {
		width: fill-parent-flow(1);
	}
}

.color-plane-indicator {
	width: 8px;
	height: 8px;
	background-color: white;
	border: 1px solid black;
	border-radius: 1px;
}

.color-axis-indicator {
	width: 100%;
	height: 4px;
	background-color: white;
	border: 1px solid black;
	border-radius: 1px;
}
