@use '../config' as *;

.search {
	$root: &;
	flow-children: right;
	vertical-align: middle;
	min-width: 200px;
	height: $button-height;
	padding: 4px 0;
	background-color: $textentry-background;
	border-bottom: $textentry-border;

	&:hover {
		background-color: $textentry-background-hover;
	}

	&__icon {
		height: fill-parent-flow(1);
		width: height-percentage(100%);
		opacity: 1;
		vertical-align: middle;
		margin: 0 5px;
		wash-color: $bright-color;

		#{$root}:hover & {
			opacity: 1;
		}
	}

	// clicking away from a textentry seems to keep this state on?
	&:descendantfocus {
		background-color: $textentry-background-focus;

		#{$root}__clearicon,
		#{$root}__icon {
			wash-color: $base-950;
		}
	}

	&__textentry {
		width: fill-parent-flow(1);
		color: $textentry-text-color;
		vertical-align: middle;

		&:focus {
			color: $textentry-focus-text-color;
		}

		&.HasInput #PlaceholderText {
			opacity: 0;
		}

		#PlaceholderText {
			font-size: 16px;
			vertical-align: center;
			transition-property: color;
			transition-duration: 0.2s;
		}

		#{$root}:hover & #PlaceholderText {
			color: rgba(255, 255, 255, 0.8);
		}
	}

	&__clearbutton {
		width: 24px;
		height: 24px;
		margin-right: 8px;
		padding: 3px;

		horizontal-align: right;
		vertical-align: middle;

		background-color: none;
		border-radius: 0;

		&--hidden {
			opacity: 0;
		}
	}

	&__clearicon {
		vertical-align: middle;
		wash-color: $bright-color;
	}
}
