// TODO: separate and clean up this file

// steaminputaction

SteamInputAction {
	visibility: collapse;
	flow-children: right;
	horizontal-align: center;
	vertical-align: center;
	width: fit-children;
	height: fit-children;
	transition-property: transform, brightness;
	transition-duration: 0.125s;
	transition-timing-function: ease-out;
}

SteamInputAction.ControllerConnected {
	visibility: visible;
}

SteamInputAction.AnalogDeadZoned,
SteamInputAction.DigitalReleased {
	brightness: 1;
}

SteamInputAction.AnalogThrown,
SteamInputAction.DigitalPressed {
	brightness: 0.5;
	transform: translateY(1px);
}

SteamInputAction > Label {
	vertical-align: center;
	font-weight: bold;
	margin: 0 5px;
}

.HoldButtonToActivate .steam-button-glyph {
	border: 2px solid green;
}

// steaminputglyphs

SteamInputGlyph,
.glyph-container,
.steam-button-glyph,
.steam-button-name {
	horizontal-align: center;
	vertical-align: center;
	width: fit-children;
	height: fit-children;
}

.action-container {
	flow-children: down;
}

.glyph-container {
	flow-children: down;
}

.steam-button-glyph {
	width: 32px;
	height: 32px;
}

.steam-button-name {
	text-align: center;
	font-size: 20px;
	text-transform: uppercase;
	text-overflow: ellipsis;
	visibility: collapse;
}

// steaminputactionlabel

.steam-action-name {
	horizontal-align: center;
	vertical-align: center;
	width: fit-children;
	height: fit-children;
}

.play-menu__playbtn SteamInputAction .steam-action-name {
	visibility: collapse;
}
