@use '../config' as *;

.VersionInfo {
	flow-children: down;
	background-color: $base-950;
	border: $menu-pane-border;
	padding: 10px 15px;

	.VersionInfoText {
		font-size: 12px;
		font-family: $font-monospace;
		color: $base-300;
		font-weight: bold;
	}
}
