@use '../config' as *;

.VersionInfo {
	flow-children: down;

	.VersionInfoText {
		font-size: 12px;
		font-family: $font-monospace;
		letter-spacing: 1px;
		color: $base-300;
		text-shadow: 1px 1px 2px 2 $base-950;
	}
}
