@use '../config' as *;

.VersionInfo {
	vertical-align: middle;
	flow-children: down;

	.VersionInfoText {
		font-size: 14px;
		font-family: $font-monospace;
		font-weight: light;
		letter-spacing: 1px;
	}

	color: $bright-color;
}
