@use '../config' as *;
@use 'sass:color';

.vote {
	width: 128px;
	height: 128px;
	background-color: $button-background;
	border: $menu-pane-border;
	&__icon {
		horizontal-align: center;
		vertical-align: center;
		width: 96px;
		height: 96px;
	}
}
.vote-small {
	width: 80px;
	height: 80px;
	&__icon {
		width: 64px;
		height: 64px;
	}
}
.upvote {
	&:hover {
		background-color: gradient(
			radial,
			50% 50%,
			0% 0%,
			70% 70%,
			from($base-950),
			to(color.scale($p2-blue, $lightness: -80%))
		);
		border-color: $p2-blue;
		Image {
			wash-color: $p2-blue;
		}
	}
	&:selected {
		background-color: gradient(
			radial,
			50% 50%,
			0% 0%,
			70% 70%,
			from($p2-blue),
			to(color.scale($p2-blue, $lightness: -50%))
		);
		border-color: $p2-blue;
		Image {
			wash-color: $base-950;
		}
	}
}
.downvote {
	&:hover {
		background-color: gradient(
			radial,
			50% 50%,
			0% 0%,
			70% 70%,
			from($base-950),
			to(color.scale($p2-orange, $lightness: -80%))
		);
		border-color: $p2-orange;
		Image {
			wash-color: $p2-orange;
		}
	}
	&:selected {
		background-color: gradient(
			radial,
			50% 50%,
			0% 0%,
			70% 70%,
			from($p2-orange),
			to(color.scale($p2-orange, $lightness: -50%))
		);
		border-color: $p2-orange;
		Image {
			wash-color: $base-950;
		}
	}
}
.favorite {
	&:disabled {
		opacity: 0.1;
	}
	&:hover:not(:disabled) {
		background-color: $button-background-hover;
		border-color: $primary-color;
	}
	&:selected:not(:disabled) {
		background-color: $button-background-selected;
		border-color: $primary-color;
	}
}
