@use '../../config' as *;
@use '../../abstract/mixin';
@use '../../abstract/function';
@use 'sass:list';
@use 'sass:map';
@use 'sass:math';

.tooltip {
	$root: &;
	flow-children: down;
	opacity: 0;
	transition: opacity 0.1s ease-out 0s;
	margin: $tooltip-margin;

	&__row {
		flow-children: right;
	}

	&__contents {
		flow-children: down;
		padding: $tooltip-padding;
		border-radius: $tooltip-radius;
		background-color: $tooltip-background;
	}

	&__text-panel {
		flow-children: down;
	}

	&__title-text-panel {
		flow-children: down;
		min-width: 360px;
		max-width: 600px;
	}

	&__title-image-text-panel {
		flow-children: down;
	}

	&__image-text-panel {
		flow-children: right;
	}

	&__title {
		horizontal-align: left;
		@include mixin.font-styles($use-header: $tooltip-title-use-header-font);
		font-size: $tooltip-title-font-size;
	}

	&__text {
		horizontal-align: left;
		vertical-align: middle;
		@include mixin.font-styles($use-header: $tooltip-text-use-header-font);
		font-size: $tooltip-text-font-size;
	}

	&__image {
		horizontal-align: left;
		vertical-align: center;
		height: $tooltip-image-size;
		width: height-percentage(100%);
		margin-right: 8px;
	}

	$this: &;
	&--notitle {
		#{$this}__title {
			height: 0;
			margin: 0;
		}
	}

	@each $name, $color in map.merge($colors-primary, $colors-state) {
		&--#{$name} {
			#{$this}__text {
				color: $color;
			}
			#{$this}__image {
				wash-color: $color;
			}
		}

		// ShowTitleImageTextTooltipStyled only takes one class so we have to do this double modifier shit
		&--notitle {
			&--#{$name} {
				#{$this}__title {
					height: 0;
					margin: 0;
				}
				#{$this}__text {
					color: $color;
				}
				#{$this}__image {
					wash-color: $color;
				}
			}
		}
	}

	&__top-arrow,
	&__bottom-arrow,
	&__left-arrow,
	&__right-arrow {
		background-repeat: no-repeat;
		background-position: 0px 0px;
		background-size: contain;

		z-index: 1;
		visibility: collapse;

		width: 24px;
		height: 24px;
		wash-color: $tooltip-background;
	}

	$tooltip-directions: ('top', 'left', 'bottom', 'right');
	@for $i from 1 through list.length($tooltip-directions) {
		$dir: list.nth($tooltip-directions, $i);

		// create a border in the opposite direction of the arrow
		$opp: math.max(($i + 2) % 4, 1);
		&__contents {
			#{$root}.#{function.capitalize($dir)}ArrowVisible & {
				border-#{list.nth($tooltip-directions, $opp)}: $tooltip-border;
			}
		}

		&__#{$dir}-arrow {
			background-image: url('file://{images}/tooltips/#{$dir}-arrow.svg');

			#{$root}.#{function.capitalize($dir)}ArrowVisible & {
				visibility: visible;
			}

			@if $dir == 'left' or $dir == 'right' {
				margin: $tooltip-radius * 2 0px;
			} @else {
				margin: 0px $tooltip-radius * 2;
			}
		}
	}

	&.TooltipVisible {
		opacity: 1;
	}
}

TooltipPanel {
	tooltip-position: bottom;
}
