@use '../../config' as *;
@use '../../abstract/function';
@use '../../abstract/mixin';

.play-menu {
	&__main {
		width: 50%;
		max-width: 930px;
		flow-children: down;
	}

	&__featured {
		width: 100%;
		height: 128px;
		margin-bottom: 15px;

		background-color: $base-950;
		border: $menu-pane-border;

		$this: &;

		&__image {
			width: 100%;
			height: 100%;
		}

		&__details {
			width: 100%;
			height: 100%;

			padding: 0 25px;
			background-color: gradient(linear, 100% 0%, 0% 0%, from(rgba($base-950, 0.5)), to($base-950));

			&__header {
				@include mixin.font-styles($use-header: true);
				font-size: 28px;
				text-shadow: 2px 2px 4px 2 $base-950;
			}

			&__subheader {
				color: $base-200;
				letter-spacing: 1px;
				text-shadow: 1px 1px 8px 2 $base-950;
			}
		}

		&:hover {
			background-color: $button-background-hover;
			border-color: $primary-color;

			#{$this}__image {
				opacity: 0.25;
			}
		}
	}

	&__card {
		width: fill-parent-flow(1);
		height: fill-parent-flow(1);
		vertical-align: center;

		background-color: $base-950;
		border: $menu-pane-border;

		$this: &;

		&__image {
			width: 100%;
			height: fill-parent-flow(1);
		}

		&__status {
			horizontal-align: right;
			margin: 5px;
			padding: 5px 15px;
			padding-bottom: 4px;
			background-color: $button-background-hover;
			border-width: 1px;
			border-style: solid;
			border-color: $primary-color;

			&__text {
				@include mixin.font-styles($use-header: true);
			}
		}

		&__details {
			width: 100%;
			vertical-align: bottom;
			flow-children: down;

			padding: 15px;
			background-color: gradient(linear, 100% 0%, 0% 0%, from(rgba($base-950, 0.9)), to($base-950));
			border-top: $menu-pane-border;

			&__header {
				@include mixin.font-styles($use-header: true);
				font-size: 20px;
				text-shadow: 2px 2px 4px 2 $base-950;
			}

			&__subheader {
				color: $base-200;
				font-size: 14px;
				letter-spacing: 1px;
				text-shadow: 1px 1px 8px 2 $base-950;
			}
		}

		&:hover {
			background-color: $button-background-hover;
			border-color: $primary-color;

			#{$this}__image {
				opacity: 0.9;
			}

			#{$this}__details {
				background-color: $button-background-hover;
				border-color: $primary-color;

				&__header,
				&__subheader {
					text-shadow: none;
				}
			}
		}
	}

	&__minor-cards {
		height: 256px;
		width: 100%;
		margin-top: 15px;
		flow-children: right;
	}
}
