@use '../../config' as *;
@use '../../abstract/function';
@use '../../abstract/mixin';

.play-menu {
	&__main {
		width: 100%;
		height: 100%;
		flow-children: down;
	}

	&__card {
		width: 477px;
	}

	&__modelpanel {
		width: 640px;
		height: 100%;
		margin-left: 50px;
		vertical-align: center;
		& > ModelPanel {
			width: 100%;
			height: 100%;
		}
	}
}
