@use '../../config' as *;
@use '../../abstract/mixin';
@use '../../abstract/function' as *;
@use 'sass:color';
@use 'sass:list';

$page-width: 1920px - $rightnav-width;

.settings {
	flow-children: right;
	width: 100%;
	height: 100%;

	max-width: 1920px;

	&__left {
		flow-children: down;
		width: fill-parent-flow(0.35);
		min-width: 210px;

		height: 100%;
		padding-right: 16px;
	}

	&__pages {
		width: fill-parent-flow(1);
		height: 100%;
	}

	&__info {
		width: fill-parent-flow(0.35);

		height: 100%;
	}

	&__search {
		width: 600px;
		height: 50px;
		margin-bottom: 15px;
		margin-top: 4px;
	}

	&__crosshair {
		// We could scale the crosshair here to be more visible, but that would stop this being
		// the actual ingame size, plus it'd have to be a bitmap level transform.
		// transform: scale3d(1.5, 1.5, 1.5);
		width: 100%;
		height: 260px;
		vertical-align: center;

		opacity: 1;

		&:parentdisabled {
			opacity: 0;
		}

		&-wrapper {
			width: 250px;
			height: 100%;
			margin-right: 8px;
			background-color: rgba(255, 255, 255, 0.03);
			// border-radius: 2px; // Why the FUCK does this stop the crosshair from updating???

			&:disabled {
				width: 0px;
				margin-right: 0px;
			}
		}
	}

	&__paint {
		width: 200px;
		height: 200px;
		margin-right: 8px;
		background-color: rgba(255, 255, 255, 0.03);
		border: 1px solid rgba(0, 0, 0, 0.5);
		border-radius: 2px;
	}

	&__paint-blob {
		align: center center;
		border-radius: 50%;
		// Width set in JS
		height: width-percentage(100%);
	}

	&__ghost {
		width: 300px;
		height: 300px;
		margin-right: 16px;
		background-color: rgba(255, 255, 255, 0.03);
	}

	&__texturereplace {
		width: 150px;
		height: 150px;
		margin-right: 8px;
		background-color: rgba(255, 255, 255, 0.03);
		border: 1px solid rgba(0, 0, 0, 0.5);
		border-radius: 2px;
	}
}

.settings-nav {
	$root: &;

	width: 100%;
	height: fit-children;

	background-color: $base-950;

	border: $menu-pane-border;
	flow-children: none;

	&__main {
		flow-children: down;
		width: 100%;
		height: fit-children;
		overflow: squish scroll;
	}

	&__collapse-button {
		z-index: 2;
		horizontal-align: right;
		height: 19px;
		width: 23px;

		background-color: rgba(0, 0, 0, 0.5);

		margin-right: 12px;

		&:hover {
			#{$root}__collapse-icon {
				opacity: 1;
			}
		}
	}

	&__collapse-icon {
		opacity: 1;

		align: center center;
		padding: 4px;
	}

	// To animate we need to fixed height values
	// Get the value that the subitems should be naturally in 1920x1080 and set height here.
	// It's determined based on font-size which I don't think I can translate automatically into panel height.
	$subitem-height: 26px;

	&__subsection {
		flow-children: down;

		width: 100%;

		@each $child-count in (0, 1, 2, 3, 4, 5, 6, 7, 8) {
			&--#{$child-count} {
				height: $child-count * $subitem-height;
			}
		}

		&--hidden {
			height: 0px;
		}
	}

	&__item,
	&__subitem {
		width: 100%;
	}

	&__item {
		flow-children: down;

		padding: 6px 0;
		&:hover {
			background-color: $primary-950;
		}

		&:selected {
			background-color: $primary-color;

			& > #{$root}__subitem:hover {
				background-color: $primary-950;
			}

			#{$root}__item-label {
				color: $base-950;
			}

			#{$root}__subitem-label {
				color: $base-950;
			}
		}
	}

	&__item-label {
		width: 100%;
		padding: 0 15px;

		@include mixin.font-styles($use-header: true, $light-header: false);
		font-size: 35px;
		max-height: 50px;
		overflow: squish;
		text-overflow: shrink;
		transform: translateY(-3px);
	}

	&__subitem {
		padding: 2px 0;

		height: $subitem-height;

		&:hover {
			background-color: $primary-800;

			#{$root}__subitem-label {
				color: $bright-color;
			}
		}

		&:selected {
			background-color: $primary-700;

			#{$root}__subitem-label {
				color: $bright-color;
			}

			&:hover {
				background-color: $primary-950;
			}
		}
	}

	&__subitem-label {
		padding-left: 25px;

		@include mixin.font-styles($use-header: true, $light-header: true);
	}

	&__separator {
		width: 100%;
		height: 2px;
		background-color: $base-color;
	}
}

.settings-page {
	width: 100%;
	height: 100%;
	flow-children: down;

	opacity: 0;

	&--active {
		opacity: 1;
	}

	&__header {
		flow-children: right;
		width: 100%;
		height: 64px;

		padding-left: 8px;
		margin-top: -10px;
		margin-bottom: 5px;

		&-buttons {
			flow-children: right;
			horizontal-align: right;
			vertical-align: bottom;
			margin-right: 16px;
		}
	}

	&__title {
		@include mixin.font-styles($use-header: true);
		font-size: 59px;
	}

	&__subtitle {
		@include mixin.font-styles($use-header: true);
		font-size: 32px;
		margin-bottom: 8px;
	}

	&__container {
		height: 100%;
		width: 100%;
		flow-children: down;
		overflow: squish scroll;
		margin-top: 10px;
		padding-right: 16px;
	}

	// These are so the page distance scrolled calculations work accurately
	&__spacer {
		width: 100%;
		height: 16px;
	}
}

.settings-group {
	width: 100%;
	flow-children: down;

	background-color: $base-950;
	border: $menu-pane-border;

	&--search {
		padding: 15px 20px;
	}

	&--highlight {
		animation-name: SettingsGroupHighlight;
		animation-duration: 1s;
		animation-timing-function: ease-out;
		animation-iteration-count: 1;
	}

	&__header {
		margin: 10px 0px;
		margin-left: list.nth($settings-padding, 2) * 0.5;
		margin-right: list.nth($settings-padding, 4) * 0.5;
		flow-children: right;
		width: 100%;
	}

	&__reset {
		horizontal-align: right;
		vertical-align: center;
	}

	&__title {
		@include mixin.font-styles($use-header: true);
		font-size: 42px;
	}

	&__subtitle {
		@include mixin.font-styles($use-header: true);
		font-size: 28px;
		width: 100%;
		padding: 10px 15px;
		background-color: $base-900;
		color: $bright-color;
	}

	&__dropdown {
		height: 32px;
		margin-left: 4px;
		margin-bottom: 4px;
		margin-top: 12px;
	}

	&__combo {
		flow-children: down;

		width: 100%;

		// TODO: This could use an @extend if Sass was set up better, do during loading refactor
		& .settings-enum,
		& .settings-enum-dropdown,
		& .settings-slider,
		& .settings-keybinder,
		& .colordisplay {
			border-radius: 0;

			margin-bottom: 0px;
		}

		&.--even {
		}
		&.--odd {
		}
		&.--even,
		&.--odd {
			&:hover {
				background-color: $primary-950;
			}
		}
	}

	&__combo-header {
		width: 100%;
		padding: 8px 12px 7px 12px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.01);
		background-color: gradient-horizontal(rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.01));

		@include mixin.font-styles($use-header: true);
		font-size: 26px;
	}
}

.settings-info {
	$this: &;

	background-color: $base-950;
	margin-left: 16px;
	margin-top: 69px;
	padding: 16px 10px;
	border: $menu-pane-border;

	&--hidden {
		#{$this}__wrapper {
			transform: translateX(-16px);
			opacity: 0;
			blur: gaussian(1, 1, 2);
		}
	}

	&--switch {
		//animation-name: BlurFadeInOut;
		animation-duration: 0.1s;
		animation-timing-function: ease-out;
		animation-iteration-count: 1;
	}

	&__wrapper {
		flow-children: down;
		opacity: 1;
		overflow: squish scroll;
		padding: 0 15px;
	}

	&__title {
		@include mixin.font-styles($use-header: true, $light-header: false);
		font-size: 36px;
		margin-bottom: 10px;
	}

	&__description {
		@include mixin.font-styles($use-header: false);
		font-size: 17px;
		margin-bottom: 10px;

		& h2 {
			// I wish we could use margin-top here to avoid needing \n chars in the string,
			// but Panorama just ignores that and similar properties
			font-weight: medium;
		}
	}

	&__cvar {
		@include mixin.font-styles($use-header: false);
		font-size: 18px;
		margin-bottom: 16px;
	}
}

.settings-search {
	height: 100%;

	&__empty-header {
		@include mixin.font-styles($use-header: true);
		font-size: 36px;
	}

	&__empty-para {
		margin: 8px;
		font-size: 20px;
	}
}

.settings-search-result {
	$root: &;

	flow-children: right;
	horizontal-align: left;
	width: 100%;
	height: 50px;
	padding: 0 15px;

	margin: 2.5px 0;

	border: 2px solid $base-800;

	background-color: $base-900;

	&:hover {
		background-color: $primary-800;
		border-color: rgba(0, 0, 0, 0);
		border-bottom-color: $primary-color;

		#{$root}__text--match {
			color: $primary-300;
		}
	}

	&__text {
		vertical-align: middle;

		&--tab {
			font-weight: bold;
		}

		&--group {
			font-weight: light;
		}

		&--group-only {
			font-weight: bold;
		}

		&--match {
			color: $primary-color;
		}
	}

	&__chevron {
		width: 16px;
		height: 16px;
		margin: 12px 5px;
		vertical-align: middle;
		opacity: 0.5;
	}

	&__text,
	&__chevron,
	&__tags {
	}

	&__tags {
		vertical-align: middle;
		font-size: 16px;
		font-style: italic;
		margin-left: 12px;
		color: rgb(190, 190, 190);

		&--hidden {
			visibility: collapse;
		}

		&--match {
			color: color.scale($orange, $lightness: 30%);
		}
	}
}
