@use 'sass:color';

// ================
// COLORS
// ================

// Based on Neutral Gray N3
// https://coolors.co/d1d2d4
$light-100: #FCFCFC !default;
$light-200: #E5E6E7 !default;
$light-300: #DFE0E1 !default;
$light-400: #D9D9DB !default;
$light-500: #D1D2D4 !default;
$light-600: #B3B5B8 !default;
$light-700: #94969A !default;
$light-800: #75787D !default;
$light-900: #585A5D !default;

// Based on Neutral Gray N10
// https://coolors.co/2c2c2c
$dark-100: #686868 !default;
$dark-200: #595959 !default;
$dark-300: #4A4A4A !default;
$dark-400: #3A3A3A !default;
$dark-500: #2C2C2C !default;
$dark-600: #252525 !default;
$dark-700: #1F1F1F !default;
$dark-800: #161616 !default;
$dark-900: #000000 !default;

// Brand
$orange-500: #ff7b02;
$orange-600: color.mix($orange-500, $dark-700, 80%);
$orange-700: color.mix($orange-500, $dark-700, 50%);
$orange-800: color.mix($orange-500, $dark-700, 20%);
$orange-900: color.mix($orange-500, $dark-700, 10%);

// ================
// FONTS
// ================

$font-primary: 'Roboto' !default;
$font-secondary: 'D-DIN' !default;
$font-secondary-light: 'D-DIN Condensed' !default;
$font-monospace: 'Roboto Mono' !default;
$font-header-spacing: 1px !default;
$font-default-size: 22px;

$font-size-h0: 48px;
$font-size-h1: 42px;
$font-size-h2: 38px;
$font-size-h3: 34px;
$font-size-h4: 30px;
$font-size-h5: 26px;
$font-size-h6: 20px;
$font-size-h7: 17px;
$font-size-h8: 14px;

// ================
// EASINGS (see https://easings.net/ for previews)
// ================

$easeInSine: cubic-bezier(0.47, 0, 0.745, 0.715);
$easeOutSine: cubic-bezier(0.39, 0.575, 0.565, 1);
$easeInOutSine: cubic-bezier(0.445, 0.05, 0.55, 0.95);
$easeInQuad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$easeOutQuad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$easeInOutQuad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
$easeInCubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$easeOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1);
$easeInQuart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
$easeInOutQuart: cubic-bezier(0.77, 0, 0.175, 1);
$easeInQuint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1);
$easeInOutQuint: cubic-bezier(0.86, 0, 0.07, 1);
$easeInExpo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);
$easeInOutExpo: cubic-bezier(1, 0, 0, 1);
$easeInCirc: cubic-bezier(0.6, 0.04, 0.98, 0.335);
$easeOutCirc: cubic-bezier(0.075, 0.82, 0.165, 1);
$easeInOutCirc: cubic-bezier(0.785, 0.135, 0.15, 0.86);
$easeInBack: cubic-bezier(0.6, -0.28, 0.735, 0.045);
$easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$easeInOutBack: cubic-bezier(0.68, -0.55, 0.265, 1.55);
