@use "sass:math"

//-------------------//
//---- Main Menu ----//
//-------------------//

$main-menu-background-color: #c4c4c4
$main-menu-border-radius: 8px
$submenu-width: 60%
$submenu-height: 50%

.MainMenuSubMenu
	background-color: $main-menu-background-color
	border-radius: $main-menu-border-radius

#MainMenuSubMenuFrame
	min-width: $submenu-width
	min-height: $submenu-height


//--------------------//
//---- Pause Menu ----//
//--------------------//

@keyframes pauseMenuVignette
	0%
		saturation: 1.0
		blur: fastgaussian(0.0)
		wash-color-fast: #0000
	100%
		saturation: 0.35
		blur: fastgaussian(6.0)
		wash-color-fast: #000000a0

.PauseMenuVignette
	animation-name: pauseMenuVignette
	animation-duration: 0.2s
	animation-timing-function: ease-in-out
	animation-iteration-count: 1
	animation-fill-mode: forwards

.PauseMenuFade
	animation-name: fadeIn
	animation-duration: 0.2s
	animation-timing-function: ease-in-out
	animation-iteration-count: 1
	animation-fill-mode: forwards

.MainMenuFadeEnabled
	animation: fadeLeftEnabled 0.2s linear 0.0s 1 normal forwards

.MainMenuFadeDisabled
	animation: fadeLeftDisabled 0.2s linear 0.0s 1 normal backwards

.MainMenu .PauseMenuOnly
	visibility: collapse

.MainMenu .MainMenuOnly
	visibility: visible

.PauseMenu .MainMenuOnly
	visibility: collapse

.PauseMenu .PauseMenuOnly
	visibility: visible


//----------------------//
//---- Beta Display ----//
//----------------------//

#MainMenuBetaDisplay
	$main-menu-beta-display-height: 10%
	height: $main-menu-beta-display-height
	background-color: gradient(linear, 0% 0%, 0% 100%, from(#333D), to(#333F))
	border-top-left-radius: $main-menu-border-radius
	align: right bottom
	flow-children: down
	
	#MainMenuBetaDisplayHeader,
	#MainMenuBetaDisplaySubheader
		font-size: 24px
		padding: 0px 16px
		horizontal-align: right
	
	#MainMenuBetaDisplayHeader
		font-size: 36px
		padding-top: 16px
	
	Label
		color: #fff


//----------------------//
//-- Main Menu Display -//
//----------------------//

@keyframes rainbow
	0%
		hue-rotation: 0deg
	50%
		hue-rotation: 180deg
	100%
		hue-rotation: 359deg
	
@keyframes fadeLeftEnabled
	0%
		transform: translate3d( -2%, 0px, 0px )
		opacity: 0.0
	100%
		transform: translate3d( 0%, 0px, 0px )
		opacity: 1.0

@keyframes fadeLeftDisabled
	0%
		transform: translate3d( 0%, 0px, 0px )
		opacity: 1.0
	100%
		transform: translate3d( -2%, 0px, 0px )
		opacity: 0.0

Label
	font-size: 25px
	font-weight: normal
	font-family: notosans-regular, Arial, sans-serif
	color: #050505

#MainMenuLogoDark
	align: center center
	width: 95%
	border-radius: 8px

.MainMenuNavlistContainer
	flow-children: down
	align: center center
	margin-left: 12.5%
	margin-top: 16.5%

#MainMenuLogoDark
	width: 40%
	align: left center
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #333D ), to( #3338 ) )
	//animation: rainbow 2.1s linear 0.0s infinite normal forwards

.MainMenuNavlist
	width: 75%
	align: center center
	flow-children: down

.ListItem
	width: 50%
	height: 7.5%
	background-color: #b6b6b6dd
	border-left: 8px solid #999d
	transition: border-left-color 0.1s ease-in-out
	margin-top: 12px

	> Label
		width: 100%
		margin-left: 2.5%

	&:disabled, &:parentdisabled
		background-color: #424242dd

	&:hover:not(:parentdisabled):enabled,
	&:selected
		border-left-color: #ff7d02ff
		border-right-color: #ff7d02ff
		background-color: #aaaa
